.lib-text-highlight(
    @text-siez: @text-font-size,
    @text-transform: @heading-primary__text-transform,
    @text-color: @theme__color__primary,
    @text-padding: @text-pading,
    @text-font-weight: @font-weight__extrabold,
    @text-hover: @theme__color__secondary,
    @text-content: @kri-chevron-right,
    @text-content-font: @font-awesome-pro
){
    .lib-css(font-size, @text-siez);
    .lib-css(text-transform, @text-transform);
    .lib-css(color, @text-color);
    .lib-css(padding, @text-padding);
    .lib-css(font-weight, @text-font-weight);
    .lib-css(position, relative);
    &:hover,
    &:active,
    &:focus {
        .lib-css(color, @text-hover);
        &:after {
            .lib-css(color, @theme__color__secondary);

        }
    }
    &:after {
        .lib-css(content, @text-content);
        .lib-css(font-family, @text-content-font);
        .lib-css(color, @theme__color__yellow);
        .lib-css(right, 0);
        .lib-css(position, absolute);
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ml ) {
    .block-collapsible-nav {
        background: white;
        .block-collapsible-nav-content{
            background: white;
        }
        .item {
            margin: 0;
        }

    }
    .account,
    [class^='sales-guest-'],
    .sales-guest-view {
        .page-title-wrapper {
            .page-title {
                margin-right: 0;
            }
        }
    }

    .account  {

        .columns {
            padding: 50px 0;
            .sidebar {
                .lib-css(box-shadow,@box-shadow);
                background: white;
                padding: 0 20px;
                border-radius: 10px;
                &-additional{
                    display: none;
                }
            }
            .nav.item{
                border-top: 1px solid @border-color__base;
                &:first-child {
                    border-top: none;
                }
                a{
                    .lib-text-highlight()
                }
                strong {
                    .lib-text-highlight(
                        @text-color: @theme__color__secondary,
                        @text-content: none
                    );
                }
            }

            .main,
            .customer-account-edit {
                .block-title,
                .content-title,
                .legend {
                    .lib-title();
                    padding:0 0 20px;
                    border-bottom: @border-base;
                    width: 100%;
                    strong {
                        font-weight: @font-weight__heavy;
                    }
                }
                .box-actions a:first-child,
                .box-actions a:not(:last-child) {
                    margin-right: 15px;
                }
                .action.back {
                    display: none;
                }

            }
            .box-title {
                padding: 20px 0;
                > span {
                    .lib-heading(h3);
                    text-transform: uppercase;
                }

                > .action {
                    font-weight: @font-weight__regular;
                    margin-left: @indent__s;
                }
            }
            .box-actions {
                padding: 20px 0;
                a {
                    .lib-link(
                        @_link-color: @theme__color__secondary,
                        @_link-text-decoration: @link__hover__text-decoration,
                        @_link-text-decoration-visited: @link__visited__text-decoration,
                        @_link-color-hover: @theme__color__primary,
                        @_link-text-decoration-hover: @link__hover__text-decoration,
                        @_link-color-active: @theme__color__primary

                    );
                }
            }

            .fieldset {
                &.info {
                    width: 100%;
                    max-width: 520px;
                    float: left
                }

                &.password {
                    width: 100%;
                    max-width: 520px;
                    float: right;
                }

            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m ) {
    .login-container {
        margin-top: 50px;
    }
}

