& when (@media-common = true) {
    .amazon-validate-container,
    .login-container {
        .block {
            .block-title {
                .lib-title();

                strong {
                    font-weight: @font-weight__heavy;
                }
            }
        }

        .form-login {
            .field {
                .label {
                    float: none;
                    display: block;
                    text-align: left;

                }
            }
        }

        .fieldset {
            &:after {
                content: none;
            }
        }
    }

    .form {
        .actions-toolbar {
            & > .primary, .secondary {
                .action.remind {
                    color: @theme__color__secondary;
                }
            }
        }
    }

    .fieldset {
        & > .field.choice,
        .fields > .field.choice {
            .label {
                padding-left: 45px;
            }
        }
    }

    .password-weak {
        display: none !important;
    }

    input.validation-passed, .input-text.valid {
        background: @theme__color__green1 url("../images/icons/icon-valid.svg") calc(~'100% - 20px') 14px no-repeat;

        ._with-tooltip & {
            background-position: calc(~'100% - 20px')14px;
        }
    }

    .block-cart-failed .action.update,
    .cart-container .form-cart {
        .action {
            &.update {
                &:before {
                    content: none
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .fieldset {
        & > .field:not(.choice) {
            & > .label {
                float: none;
                display: block;
                text-align: left;
                margin: 0 0 8px 0;
                width: 100%;
            }
        }
    }


    .abs-margin-for-forms-desktop,
    .fieldset .legend,
    .form-create-account {
        padding: 0 ;
    }
    .fieldset.create {
        &.info,
        &.account {
            max-width: @form-width;
        }
    }
    .fieldset {
        & > .field:not(.choice) {
            & > .control{
                width: 100%;
            }
        }
    }
    .actions-toolbar{
        max-width: @form-width;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = ( @screen__m - 1  )) {
    .login-container {
        padding: @gutter-width;
        .form-login{
            .actions-toolbar {
                .secondary {
                    margin-top: @form-margin;
                }
            }
        }

    }
    .fieldset {
        & > .field, .fields {
            & > .label {
                margin-bottom: @form-margin;
            }
        }
    }
    .abs-margin-for-forms-desktop,
    .fieldset .legend,
    .form-create-account {
        padding: @gutter-width;
    }
}

