<?php

$dataPostParam = '';
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
}
?>
<?php if ($block->isLoggedIn()): ?>
    <div class="customer-menu">
        <ul class="header links">
            <?php echo $block->getChildHtml('stores.links.logged-in'); ?>
        </ul>
    </div>
    <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "customer": {
                            "component": "Magento_Customer/js/view/customer"
                        }
                    }
                }
            }
        }
     </script>
<?php else: ?>
    <?php echo $block->getChildHtml('header.links.mobile'); ?>
<?php endif ?>
