@font-face {
    font-family: 'kri-icons';
    src:  url('../fonts/icomoon/icomoon.eot?azvyhg');
    src:  url('../fonts/icomoon/icomoon.eot?azvyhg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?azvyhg') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?azvyhg') format('woff'),
    url('../fonts/icomoon/icomoon.svg?azvyhg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'kri-icons-2';
    src:  url('../fonts/fontawesome/fa-brands-400.eot?asdad');
    src:  url('../fonts/fontawesome/fa-brands-400.eot?asdad') format('embedded-opentype'),
    url('../fonts/fontawesome/fa-brands-400.ttf?asads') format('truetype'),
    url('../fonts/fontawesome/fa-brands.woff?azvyhg') format('woff'),
    url('../fonts/fontawesome/fa-brands-400.svg?azvyhg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'kri-icons-3';
    src:  url('../fonts/fontawesome/fa-regular-400.eot?asdad');
    src:  url('../fonts/fontawesome/fa-regular-400.eot?asdad') format('embedded-opentype'),
    url('../fonts/fontawesome/fa-regular-400.ttf?asads') format('truetype'),
    url('../fonts/fontawesome/fa-regular.woff?azvyhg') format('woff'),
    url('../fonts/fontawesome/fa-regular-400.svg?azvyhg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'kri';
    src:  url('../fonts/icon/krispkykreme.eot');
    src:  url('../fonts/icon/krispkykreme.svg') format('embedded-opentype'),
    url('../fonts/icon/krispkykreme.ttf') format('truetype'),
    url('../fonts/icon/krispkykreme.woff') format('woff'),
    url('../fonts/icon/krispkykreme.svg?azvyhg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-awesome-pro: 'Font AweSome 5 Pro';

[class^="kri-icon-"], [class*=" kri-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'kri-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.kri-icon-twitter:before{
    content: "\F099";
    font-family: 'kri-icons-2' !important;
}
.kri-icon-back:before{
    content: '\f00d';
}
.kri-icon-facebook:before {
    content: "\e907";
}
.kri-icon-instagram:before {
    content: @kri-instagram;
}
.kri-icon-search:before {
    content: "\e909";
    color: @theme__color__primary;
}
.kri-icon-checkbox:before {
    content: "\e90d";
    color: #d3d3d3;
}

.kri-icon-facebook:before {
    content: "\e907";
}
.kri-icon-instagram:before {
    content: "\e908";
}


.kri-icon-Check-Icon:before {
    content: "\e90a";
}
.kri-icon-Warning-Icon:before {
    content: "\e90b";
}

@kri-icon-close: '\f00d';

@kri-arrow-top: '\f077';

@kri-arrow-bottom: '\f078';

@kri-iconLocator: '\e90c';

@kri-icon-search: '\e909';

@kri-iconcall: '\f095';

@kri-iconmessage: '\f0e0';

@kri-icon-exclaiming: '\F06A';

@kri-chevron-right: '\F054';

@kri-instagram: "\F16D";

@kri-iconcross: "\e900";

@kri-iconshuffle: "\e901";

@kri-iconrestore: "\e902";

@kri-iconlock: "\e903";

@kri-icondonut: "\e904";

@kri-iconmenu: "\e905";

@kri-icondinkus: "\e906";

@kri-iconuser: "\e907";

@kri-icontrash-bin: "\e908";

@kri-iconsearch: "\e909";

@kri-iconrefresh: "\e90a";

@kri-iconpencil: "\e90b";

@kri-iconpin: "\e90c";

@kri-iconphone: "\e90d";

@kri-iconcart: "\e90e";

@kri-iconemail: "\e90f";

@kri-iconclock: "\e910";

@kri-iconcalendar: "\e911";

@kri-iconprogress-1: "\e925";

@kri-iconprogress-2: "\e926";

@kri-iconprogress-3: "\e927";

@kri-iconprogress-4: "\e928";

@kri-warning-circle:"\f06a";

@icon-check:      '\f00c';

@icon-circles:     '\f111';
