
@layout__max-width: 1450px;

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__m - 1 )) {
    .page-wrapper {
        > .page-bottom {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .navigation,
    .breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-wrapper > .widget,
    .block.category.event,
    .page-bottom > .content,
    .top-container,
    .footer-bottom-inner,
    .copyright-containe
    {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: @layout__max-width;
        padding-left: @layout-indent__width;
        padding-right: @layout-indent__width;
        width: 100%;
    }

    .page-main {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .columns {
        display: block;
    }

    .column.main {
        #lib-layout-columns > .main();
        &:extend(.abs-add-box-sizing-desktop all);
        min-height: 300px;
    }

    .sidebar-main {
        #lib-layout-columns > .left();
        padding-right: @layout-column-main__sidebar-offset;
        &:extend(.abs-add-box-sizing-desktop all);
    }

    .page-layout-2columns-right .sidebar-main {
        padding-left: @layout-column-main__sidebar-offset;
        padding-right: 0;
    }

    .sidebar-additional {
        #lib-layout-columns > .right();
        clear: right;
        padding-left: @layout-column__additional-sidebar-offset;
        &:extend(.abs-add-box-sizing-desktop all);
    }

    .page-layout-2columns-left {
        .main {
            padding-left: @layout-column__additional-sidebar-offset
        }

        .sidebar-additional {
            clear: left;
            float: left;
            padding-left: 0;
        }
    }

    .page-wrapper{
        > .page-bottom {
            width: 100%;
            max-width: 100%;
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-main {
        padding: 0;
    }
}
