& when (@media-common = true) {
    .modal-slide, .modal-popup{
        &._show{
            background: rgba(250 ,250 ,250, .5);
        }
    }
    .modal-popup{
        .modal-inner-wrap{
            border-top-right-radius: 20px;
            overflow: hidden;
        }
        .action-close {
            background: @theme__color__secondary;
            border-radius: 0;
            &:before {
                color: @color-white;
                font-size: 36px;
            }
        }
        .modal-header {
            padding: 0;
        }
        .action-secondary {
            .lib-button-secondary();
            .lib-css(min-width, auto);
            width: 105px;
        }
        .action-primary{
            width: auto;
            min-width: auto;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__ml - 1)) {

    body {
        &._has-modal-custom {
            height: 100vh;
            overflow: hidden;
            width: 100vw;

            .modal-custom-overlay {
                .lib-css(background-color, @modal-overlay__background-color);
            }
        }
    }
}
