
& when (@media-common = true) {

    .page-bottom {
        width: 100%;
        max-width: 100%;
        background: @color-white;
        &::before {
            content: '';
            left: 0;
            top: 60%;
            position: absolute;
            z-index: -1;
            width: 50%;
            height: 100%;
            display: block;
            -ms-transform: skewY(11deg);
            transform: skewY(11deg);
        }
        &::after {
            content: '';
            right: 0;
            top: 60%;
            //background: @color-white;
            position: absolute;
            z-index: -1;
            width: 50%;
            height: 100%;
            display: block;
            -ms-transform: skewY(-11deg);
            transform: skewY(-11deg);
        }
        .content {
            background: url("../svg/newsletter-bg.svg") center no-repeat;
            padding: 20px;

        }
        h2 {
            text-align: center;
            font-weight: 900;
            .lib-font-size(36);
            margin: 0 0 40px;
        }
        .title{
            .lib-text_italic-secondary()
        }

        .block {
            width: 100%;
            max-width: 100%;
            .newsletter-icon{
                &::before {
                    background: url('../svg/discq.svg');
                    width: 230px;
                    height: 200px;
                    content: '';
                    display: block;
                    position: relative;
                    margin: 0 auto;
                    top: -65px;
                }
            }
        }
        .subscribe-form {
            display: -webkit-flex;
            display: flex;
            justify-content: space-around;
            position: relative;
            padding-bottom: 90px;
            input {
                height: 80px;
                padding: 0 40px;
                border-radius: 40px;
            }
            .action.button {
                padding: 28px 20px;
                border-radius: 0 40px 40px 0px ;
                font-weight: 900;
                text-transform: uppercase;
                &:after {
                    content: @kri-chevron-right;
                    color: @theme__color__yellow;
                    font-family: 'kri-icons-3';
                    margin-left: 15px;
                }
            }
            .control {
                overflow: hidden;
                position: relative;
                width: 60%;
                margin: 0 auto;
                input[type='email'], button {
                    .lib-font-size(18);
                }
            }
            .actions {
                right: 0;
                top: 0;
                position: absolute;
            }
         }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__m - 1)) {
    .page-bottom {
        .content {
            padding: 15px;
            background-size: cover;
        }
        .subscribe-form {
            span {
                display: none;
            }
            .control {
                input {
                    height: 60px;
                }
                .action.subcribe {
                    padding: 18px 12px 18px 0;
                    min-width: 60px;
                    width: 60px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__ml - 1)) {

    .page-bottom {
        .subscribe-form {
           .control {
               width: 100%;
           }
        }
    }
}


