& when (@media-common = true) {
    .page-products.page-layout-2columns-left {
        .column.main {
            width: 100%;
            max-width: 1450px;
            margin: 0 auto;
            float: none;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .catalog-category-view,
    .page-products{
        .products-grid {
            .product-item {
                .product-item-info{
                    .lib-product-item(
                        @item-gap: 0
                    );
                    .actions-primary {
                        .primary {
                            .lib-button-tocart();
                        }
                    }
                }
            }
        }
    }
    .product-item{
        .price-final_price {
            margin-bottom: 10px;
        }
    }
    .toolbar-amount {
        float: left;
        color: @theme__color__primary;
        font-size: 16px;
        font-weight: @font-weight__heavy;
        text-transform: uppercase;
        padding: 12px 0 0;
    }
    .toolbar-sorter.sorter{
        float: right;
    }
    .toolbar-products {
        padding: 0;
        margin-bottom: 20px;
    }
    .sorter-options {
        padding: 0 40px 0 13px;
        font-size: 16px;
        height: 40px;
        margin-right: 25px;

    }
    .sorter-action{
        background: white;
        border-radius: 25px;
        padding: 5px;
        &:before {
            content: '' !important;
            background: url('../svg/arrow_upward-24px.svg');
            background-repeat: no-repeat ;
            background-position: center;
            background-size: 25px 21px ;
            width: 30px;
            height: 30px;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .catalog-category-view {
        .products-grid {
            .product-item {
                .product-item-info {
                    width: auto
                }
            }
        }
    }

}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__ml - 1 )) {
    .breadcrumbs {
        display: none;
    }
    .page-title-wrapper{
        width: 100%;
        .page-title{
            padding: 20px 0;
        }
    }
    .sorter-options {
        margin-right: 5px;
    }
}
