@import '_product-details';
@import '_product-items';
@import '_product-page';
@import '_categody_extend';
& when( @media-common = true) {
    .action.tocompare {
        display: none !important;
    }
}


