
.lib-product-detail (
    @product-color: @theme__color__primary,
    @product-size: @product-size__base,
    @product-align: @align-center,
    @product-weight: @font-weight__heavy,
    @product-text__style: @product-style,
    @product-line__height: @product-item__height
){
    .lib-css(color, @product-color);
    .lib-css(font-size, @product-size);
    .lib-css(text-align, center);
    .lib-css(font-weight, @product-weight);
    .lib-css(text-transform, @product-text__style);
    .lib-css(line-height, @product-line__height);
    .lib-css(text-decoration, none);
    &:hover {
        .lib-css(text-decoration, none);
    }
}

& when( @media-common = true) {
    .product-item{
        .product-item-name,
        .price-box .price,
        .price-box,
        a.product-item-link{
            .lib-product-detail();
        }
        .price-box .price {
            color: #555;
        }
        .product-item-name{
            height: 72px;
            max-height: 72px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            a {
                color: @theme__color__primary;
                &:hover {
                    color: @theme__color__primary;
                }
            }
        }
    }
    .product-item-actions {
        .lib-flex() !important;
        justify-content: center;
    }

}
