& when (@media-common =true){
    .catalog-product-view{
        background: white;
        .columns{
            max-width: @layout__max-width;
            padding-left: @layout-indent__width;
            padding-right: @layout-indent__width;
            margin: 0 auto;
        }
        .product-add-form {
            .box-tocart {
                display: block;
                .actions {
                    display: block;
                    .tocart {
                        width: 100%;
                        padding-top: 10px;
                        padding-bottom: 13px;
                        .lib-button-tocart (
                            @cart-position-left: 50%;
                        )
                    }
                }
                .input-text.qty {
                    width: 90px;
                    height: 50px;
                }
            }
        }
    }
}
