@product-height: 515px;
@product-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
@product-radius: 25px;
@cart-position_left: -5px;
@cart-position_top: 5px;

.lib-product-item(
    @item-border__type: @item-border,
    @item-gap: @item-margin,
    @item-padding: @item-gutter,
    @item-radius: @product-radius,
    @item-background: @color-white,
    @item-height: @product-height,
    @item-shadow: @product-shadow
){
    .lib-css(border-radius, @item-radius);
    .lib-css(border, @item-border__type);
    .lib-css(margin, @item-gap);
    .lib-css(min-height, @item-height);
    .lib-css(background, @item-background);
    .lib-css(box-shadow, @item-shadow);
}

.lib-button-tocart (
    @cart-content: @kri-iconcart,
    @cart-color: @theme__color__yellow,
    @cart-fize: 24px,
    @cart-position-left: @cart-position_left,
    @cart-position-top: @cart-position_top
) {
    &:before {
        .lib-font-size(@cart-fize);
        .lib-css(color, @cart-color);
        .lib-css(content, @cart-content);
        .lib-css(font-family, 'kri');
        .lib-css(position, relative);
        .lib-css(left, @cart-position_left);
        .lib-css(top, @cart-position-top);
    }
}

& when (@media-common = true ) {
    .product-image-container {
        display: block;
        margin: 0 auto;
    }
    .block-products-list {
        .products-grid.grid {
            .product-items {
                .product-item {
                    .lib-css(padding, @item-gutter);

                    .product-item-info {
                        .lib-product-item();
                    }

                    .action.tocart {
                        .lib-button-tocart();
                    }
                }
            }
        }
    }
}

