// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Using buttons mixins
    button,
    a.action.primary {
        .lib-css(border-radius, @button__border-radius);
        .lib-css(box-shadow, @button__shadow);
    }

    button {
        &:active {
            .lib-css(box-shadow, @button__shadow);
        }
    }
    .primary-outline {
        .lib-button-secondary();
        &:hover,
        &:active,
        &:focus {
            .lib-css(text-decoration, none)
        }
    }
    a.action.primary {
        .lib-link-as-button();
    }

    .action.primary,
    .action-primary,
    .button-secondary,
     .pagebuilder-button-secondary{

        .lib-button-primary();
    }
    .pagebuilder-banner__slider{
        .pagebuilder-poster-content {
            a {
                .lib-css(text-transform, @heading-primary__text-transform);
                .lib-css(box-shadow, @button__shadow);
                .lib-button-primary();
                .lib-css(text-align, 'center');
                .lib-css(border-radius, @button__border-radius);
                text-decoration: @link__text-decoration;
            }
        }
    }
    .stock.unavailable {
        .lib-button-primary();
    }
    .pagebuilder-column {
        a.pagebuilder-button-link {
            .lib-button-link()
        }
    }
    .action{
        &.checkout {
            .lib-font-size(16);
            &:before {
                content: @kri-iconlock;
                font-family: 'kri';
                position: relative;
                top: 3px;
                font-weight: normal;
                .lib-font-size(24);
                .lib-css(color, @theme__color__yellow);
                margin-right: 15px;
            }
        }
        &.update{
            .lib-button-primary(
            @_button-width: 265px
            );
            padding: 13px 20px 13px 20px !important;
            &:before {
                content: none;
            }
        }
        &.multicheckout {
            .lib-button-secondary();
            width: 100%;
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }
    }

}
