// /**
//  * Copyright © Balance Internet, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Local Variables
//  _____________________________________________

@icons__awesome-font-path: '@{baseDir}fonts/fontawesome/fa-regular-400';
@icons__awesome-brand-font-path: '@{baseDir}fonts/fontawesome/fa-brands-400';
@icons__awesome-solid-font-path: '@{baseDir}fonts/fontawesome/fa-solid-900';
@icons__awesome-light-font-path: '@{baseDir}fonts/fontawesome/fa-light-300';
@icons__awesome-font: 'Font Awesome 5 Pro';
@icons__awesome-brand-font: 'Font Awesome 5 Brands';

@krispy-icon-font-family: "krispkykreme";
@krispy-icon-font-path: '@{baseDir}fonts/icon';

@icon-font__color: @theme__color__secondary;
@icon-font__color-hover: @theme__color__primary;
@icon-font__color-active: @icon-font__color-hover;

// Theme Background Colors
@light__background-color: #f6f6f8;
@page__background-color: @light__background-color;
@primary__background-color: @color-white;
@panel__background-color: @primary__background-color;

// Theme Image placeholder dummy
@image-placeholder__background-color: @primary__background-color; // #ffffff
@text-decoration__none: none;
@align-center: center;
// Font Weight
// ------------------------------------
@font-weight__black: 900;

// Letter Spacing
// ------------------------------------
@heading__letter-spacing: inherit;
@heading__letter-spacing-l: inherit;
@text__letter-spacing: inherit;

// Theme Headings
// ------------------------------------
@heading-primary__text-transform: uppercase;
@heading-secondary__text-transform: none;
@heading-secondary__font-style: italic;
@heading-secondary__font-weight: @font-weight__bold;
@heading-primary__color: @theme__color__primary;
@heading-secondary__color: @theme__color__secondary;
@heading__color__base: @heading-primary__color;
@heading__font-weight__base: @font-weight__black;
@heading__line-height__base: 1.333;
@heading__margin-top__base: @indent__s;
@heading__margin-bottom__base: @indent__base;

//H1
@h1__font-size: 36px; // 36px	H1 font size
@h1__line-height: @heading__line-height__base; // 48px
@h1__font-weight: @heading__font-weight__base;
@h1__letter-spacing: @heading__letter-spacing;

// H1 mobile
@h1-tablet__font-size: @h1__font-size;
@h1-tablet__line-height: @h1__line-height;
@h1_tablet__margin-top: @heading__margin-top__base; //10px;
@h1_tablet__margin-bottom: @heading__margin-bottom__base; //20px;

@h1-mobile__font-size: 24px; //24px h1 global body h1 mobile size
@h1-mobile__line-height: @h1__line-height;
@h1_mobile__margin-top: @heading__margin-top__base; //10px;
@h1_mobile__margin-bottom: @heading__margin-bottom__base; //20px;

//H2
// H2 font size is set to 36px as per design most title elements are 36px and to keep site SEO friendly
// repetitive use of h1 tag is strictly prohibited

@h2__font-size: 24px; // 24px
@h2__line-height: 1.5;

// H2 mobile
@h2-tablet__font-size: @h2__font-size;
@h2-mobile__font-size: @h2-tablet__font-size;

// /H3
@h3__margin-bottom: @heading__margin-bottom__base; // 20px

// H3 mobile
@h3-mobile__font-size: @h3__font-size;


//H4
@h4__margin-bottom: @heading__margin-bottom__base;

// H4 mobile
@h4-mobile__font-size: @h4__font-size;


//H5
@h5__margin-bottom: @heading__margin-bottom__base;

// H5 mobile
@h5-mobile__font-size: @font-size__base;

//H6

@h6__line-height: @line-height__base;

// H6 mobile
@h6-mobile__font-size: @h6__line-height;

//
//  Lists
//  ---------------------------------------------

@list__margin-bottom: @indent__s; //10px

@list-item__margin-bottom: @indent__s; //10px

@dt__margin-top: 0;
@dt__margin-bottom: 0;
@dt__font-weight: @font-weight__bold;
@dt__border-width: 0;
@dt__padding-top: @indent__s; //10px
@dt__padding-bottom: @indent__s; //10px

@dd__margin-top: @indent__s; //10px
@dd__margin-bottom: @indent__s; //10px


// Theme Border Colors
// ------------------------------------
@border-color__base: #dcdcdc;
@border-primary__color: @border-color__base;
@border-secondary__color: @theme__color__primary;


// Layout
// ------------------------------------

@gutter-width: 15px;

// Theme colors

@theme__color__red: #FFE6EA;
@theme__color__green1: #DFF2CD;
@theme__color__orange: #FBF3DE;

@text__color__muted: #555;

//
//  Form elements variables
//  ---------------------------------------------
@form-element-input__border-radius: 25px;
@form-element-input__color: #555;

@form-field-label__color: false;
@form-field-label__font-weight: false;
@form-field-label__text-transform: false;

@form-field-label2__color: @theme__color__primary;
@form-field-label2__font-weight: @font-weight__black;
@form-field-label2__text-transform: uppercase;

@form-validation-note__font-size: @font-size__base;

@form-fieldset-legend__color: @theme__color__primary;
@form-fieldset-legend__font-size: @font-size__l;
@form-fieldset-legend__font-weight: @font-weight__black;
@form-fieldset-legend__text-transform: uppercase;
@form-element-validation__border-error-new: #FFE6EA;
@form-element-validation__background-error-new: #FFE6EA url("../images/icons/icon-cross-red.svg") calc(100% - 3px) 15px no-repeat;
@collapsible-nav-current-border-color: none;


@select__padding: 5px 40px 5px 20px;

// Checkbox and Radio buttons

@checkbox-icon__color: @theme__color__secondary;
@checkbox__border: 1px solid @theme__color__primary;

@radio-button-icon__color: @theme__color__secondary;
@radio-button-icon__checked__color: @theme__color__secondary;

//  Form field note
@form-field-note__color: #999;
@form-field-note__font-size: @font-size__base;
@form-field-note__font-style: italic;
@form-field-note__margin: 3px 0 0;
@form-field-note__padding: 0;

//  Form field note icon
@form-field-note-icon-font__content: false;

@form-validation-note__font-size: @form-field-note__font-size;

//  Placeholder
@form-element-input-placeholder__color: @form-field-note__color;
@form-element-input-placeholder__font-style: normal;

//  Placeholder
@textarea__height: 120px;


//
//  Product Grid elements variables
//  ---------------------------------------------

// Product and Blog posts gutters
@item-grid_desktop-gutter: 15px;
@item-grid_desktop-margin: 30px;

// Product grid tablet
@item-grid_tablet-gutter: 15px;
@item-grid_tablet-margin: 30px;

// Product grid mobile
@item-grid_mobile-gutter: 15px;
@item-grid_mobile-margin: 30px;


//
//  Pager variables
//  _____________________________________________

@pager__font-size: @font-size__base;
@pager__font-weight: @font-weight__black;

//  Pager current page
@pager-current__color: @color-white;
@pager-current__border: 1px solid @theme__color__primary;
@pager-current__background: @theme__color__primary;
@pager-current__font-weight: @pager__font-weight;

//  Pager link default
@pager__color: @theme__color__secondary;
@pager__border: 1px solid @color-white;
@pager__background: @color-white;

//  Pager link visited
@pager__visited__color: @pager__color;
@pager__visited__border: @pager__border;
@pager__visited__background: @pager__background;

//  Pager link hover
@pager__hover__color: @pager-current__color;
@pager__hover__border: @pager-current__border;
@pager__hover__background: @pager-current__background;

//  Pager link active
@pager__active__color: @pager__hover__color;
@pager__active__border: @pager__hover__border;
@pager__active__background: @pager__hover__background;

//  Pager link.action default
@pager-action__color: @pager__color;
@pager-action__border: @pager__border;
@pager-action__background: @pager__background;

//  Pager link.action visited
@pager-action__visited__color: @pager__visited__color;
@pager-action__visited__border: @pager__visited__border;
@pager-action__visited__background: @pager__visited__background;

//  Pager link.action hover
@pager-action__hover__color: @pager__hover__color;
@pager-action__hover__border: @pager__hover__border;
@pager-action__hover__background: @pager__hover__background;

//  Pager link.action active
@pager-action__active__color: @pager__active__color;
@pager-action__active__border: @pager__active__border;
@pager-action__active__background: @pager__active__background;


//
//  Breadcrumbs variables
//  _____________________________________________

@breadcrumbs-link__text-decoration: none;

//  Visited
@breadcrumbs-link__visited__text-decoration: none;

//  Hover
@breadcrumbs-link__hover__text-decoration: underline;

//  Active
@breadcrumbs-link__active__text-decoration: underline;


//

// Link
//
@link__color: @theme__color__primary;
@link__text-decoration: none;

@link__visited__color: @link__color;
@link__visited__text-decoration: none;

@link__hover__color: @theme__color__secondary;
@link__hover__text-decoration: underline;

@link__active__color: @active__color;
@link__active__text-decoration: underline;
//
//  Dropdown variables
//  _____________________________________________

@dropdown-list__pointer: false;
@dropdown-list__border: 0;
@dropdown-list__shadow: 0 5px 20px 0 rgba(0, 0, 0, .25);

//
//  Section variables
//  _____________________________________________

@tab-control__font-weight: @font-weight__black;

@icon-font__color: @theme__color__secondary;
@icon-font__color-hover: @theme__color__primary;
@icon-font__color-active: @icon-font__color-hover;

// Theme Background Colors
@light__background-color: #f6f6f8;
@page__background-color: @light__background-color;
@primary__background-color: @color-white;
@panel__background-color: @primary__background-color;

// Theme Image placeholder dummy
@image-placeholder__background-color: @primary__background-color; // #ffffff

// Font Weight
// ------------------------------------
@font-weight__black: 900;

// Letter Spacing
// ------------------------------------
@heading__letter-spacing: inherit;
@heading__letter-spacing-l: inherit;
@text__letter-spacing: inherit;
@text-font-size: 16px;
@border-width__base: 2px;
@border-color__base1: @theme__color__primary;


// Theme Headings
// ------------------------------------
@heading-primary__text-transform: uppercase;
@heading-secondary__text-transform: none;
@heading-secondary__font-style: italic;
@heading-secondary__font-weight: @font-weight__bold;
@heading-primary__color: @theme__color__primary;
@heading-secondary__color: @theme__color__secondary;
@heading__color__base: @heading-primary__color;
@heading__font-weight__base: @font-weight__black;
@heading__line-height__base: 1.333;
@heading__margin-top__base: @indent__s;
@heading__margin-bottom__base: @indent__base;

//H1
@h1__font-size: 36px; // 36px	H1 font size
@h1__line-height: @heading__line-height__base; // 48px
@h1__font-weight: @heading__font-weight__base;
@h1__letter-spacing: @heading__letter-spacing;

// H1 mobile
@h1-tablet__font-size: @h1__font-size;
@h1-tablet__line-height: @h1__line-height;
@h1_tablet__margin-top: @heading__margin-top__base; //10px;
@h1_tablet__margin-bottom: @heading__margin-bottom__base; //20px;

@h1-mobile__font-size: 24px; //24px h1 global body h1 mobile size
@h1-mobile__line-height: @h1__line-height;
@h1_mobile__margin-top: @heading__margin-top__base; //10px;
@h1_mobile__margin-bottom: @heading__margin-bottom__base; //20px;

//H2
// H2 font size is set to 36px as per design most title elements are 36px and to keep site SEO friendly
// repetitive use of h1 tag is strictly prohibited

@h2__font-size: 24px; // 24px
@h2__line-height: 1.5;

// H2 mobile
@h2-tablet__font-size: @h2__font-size;
@h2-mobile__font-size: @h2-tablet__font-size;

// /H3
@h3__margin-bottom: @heading__margin-bottom__base; // 20px

// H3 mobile
@h3-mobile__font-size: @h3__font-size;


//H4
@h4__margin-bottom: @heading__margin-bottom__base;

// H4 mobile
@h4-mobile__font-size: @h4__font-size;


//H5
@h5__margin-bottom: @heading__margin-bottom__base;

// H5 mobile
@h5-mobile__font-size: @font-size__base;

//H6

@h6__line-height: @line-height__base;

// H6 mobile
@h6-mobile__font-size: @h6__line-height;

//
//  Lists
//  ---------------------------------------------

@list__margin-bottom: @indent__s; //10px

@list-item__margin-bottom: @indent__s; //10px

@dt__margin-top: 0;
@dt__margin-bottom: 0;
@dt__font-weight: @font-weight__bold;
@dt__border-width: 0;
@dt__padding-top: @indent__s; //10px
@dt__padding-bottom: @indent__s; //10px

@dd__margin-top: @indent__s; //10px
@dd__margin-bottom: @indent__s; //10px


// Theme Border Colors
// ------------------------------------
@border-color__base: #dcdcdc;
@border-primary__color: @border-color__base;
@border-secondary__color: @theme__color__primary;


// Layout
// ------------------------------------

@gutter-width: 15px;

// Theme colors

@theme__color__red: #B02A31;
@theme__color__green: #336633;
@theme__color__orange: #FBF3DE;
@color-black3: #333333;

@text__color__muted: #555;

//
//  Form elements variables
//  ---------------------------------------------
@form-element-input__border-radius: 25px;
@form-element-input__color: #555;

@form-field-label__color: false;
@form-field-label__font-weight: false;
@form-field-label__text-transform: false;

@form-field-label2__color: @theme__color__primary;
@form-field-label2__font-weight: @font-weight__black;
@form-field-label2__text-transform: uppercase;

@form-validation-note__font-size: @font-size__base;

@form-fieldset-legend__color: @theme__color__primary;
@form-fieldset-legend__font-size: @font-size__l;
@form-fieldset-legend__font-weight: @font-weight__black;
@form-fieldset-legend__text-transform: uppercase;

@form-element-validation__border-error: @theme__color__red;
@form-element-validation__background-error: @theme__color__red url("../images/icons/icon-cross-red.svg") 97% 15px no-repeat;
@form-element-validation__background-error: #FFE6EA url("..../images/icons/icon-cross-red.svg") 97% 15px no-repeat;
@form-element-validation__background-valid: false;
@select__padding: 5px 40px 5px 20px;

@product-style: uppercase;

// Checkbox and Radio buttons
//
// Button
//

@line-height__button: 20px;
@button-width: 200px;
@button-padding: 10px 20px 10px;
@font-size__base: 18px;
@text-pading: 18px 0;
@button_primary-hover-background: @color-white;
@box-shadow: @button__shadow;
@button-primary__font-size: 16px;
@button-primary__font-weight: @font-weight__heavy;
@button-primary__line-height: @line-height__button;
@button-primary__width: @button-width;
@button-primary__padding: @button-padding;
@button-primary__color: @color-white;
@button-primary__background: @theme__color__red;
@button-primary__border: 2px solid @theme__color__red;
@button-primary__hover__background: @button_primary-hover-background;
@button__border-radius: 30px;
@button-primary__hover__color: @theme__color__red;
@button-primary__active__color:  @theme__color__red;
@button-primary__active__background: @color-white;
@button-primary__hover__border: @button-primary__border;
@button__shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
@button-link__border: 2px solid @theme__color__primary;
@button-checkout-padding: 6px 20px 8px 20px ;
@checkbox-icon__color: @theme__color__secondary;
@checkbox__border: 1px solid @theme__color__primary;

@radio-button-icon__color: @theme__color__secondary;
@radio-button-icon__checked__color: @theme__color__secondary;

//  Form field note
@form-field-note__color: #999;
@form-field-note__font-size: @font-size__base;
@form-field-note__font-style: italic;
@form-field-note__margin: 3px 0 0;
@form-field-note__padding: 0;

//  Form field note icon
@form-field-note-icon-font__content: false;

@form-validation-note__font-size: @form-field-note__font-size;

//  Placeholder
@form-element-input-placeholder__color: @form-field-note__color;
@form-element-input-placeholder__font-style: normal;

//  Placeholder
@textarea__height: 120px;


//
//  Product Grid elements variables
//  ---------------------------------------------

// Product and Blog posts gutters
@item-grid_desktop-gutter: 15px;
@item-grid_desktop-margin: 30px;

// Product grid tablet
@item-grid_tablet-gutter: 15px;
@item-grid_tablet-margin: 30px;

// Product grid mobile
@item-grid_mobile-gutter: 15px;
@item-grid_mobile-margin: 30px;
@product-size__base: 18px;
@product-item__height: 24px;
@item-border: none;
@item-border-radius: 20px;
@item-margin: 0 15px;
@item-gutter: 16px 0;


    //
//  Pager variables
//  _____________________________________________

@pager__font-size: @font-size__base;
@pager__font-weight: @font-weight__black;

//  Pager current page
@pager-current__color: @color-white;
@pager-current__border: 1px solid @theme__color__primary;
@pager-current__background: @theme__color__primary;
@pager-current__font-weight: @pager__font-weight;

//  Pager link default
@pager__color: @theme__color__secondary;
@pager__border: 1px solid @color-white;
@pager__background: @color-white;

//  Pager link visited
@pager__visited__color: @pager__color;
@pager__visited__border: @pager__border;
@pager__visited__background: @pager__background;

//  Pager link hover
@pager__hover__color: @pager-current__color;
@pager__hover__border: @pager-current__border;
@pager__hover__background: @pager-current__background;

//  Pager link active
@pager__active__color: @pager__hover__color;
@pager__active__border: @pager__hover__border;
@pager__active__background: @pager__hover__background;

//  Pager link.action default
@pager-action__color: @pager__color;
@pager-action__border: @pager__border;
@pager-action__background: @pager__background;

//  Pager link.action visited
@pager-action__visited__color: @pager__visited__color;
@pager-action__visited__border: @pager__visited__border;
@pager-action__visited__background: @pager__visited__background;

//  Pager link.action hover
@pager-action__hover__color: @pager__hover__color;
@pager-action__hover__border: @pager__hover__border;
@pager-action__hover__background: @pager__hover__background;

//  Pager link.action active
@pager-action__active__color: @pager__active__color;
@pager-action__active__border: @pager__active__border;
@pager-action__active__background: @pager__active__background;
@icon-next: '/';

//
//  Breadcrumbs variables
//  _____________________________________________


//
//  Dropdown variables
//  _____________________________________________

@dropdown-list__pointer: false;
@dropdown-list__border: 0;
@dropdown-list__shadow: 0 5px 20px 0 rgba(0, 0, 0, .25);
@navigation-desktop-level0-item__active__border-color: none;
@_nav-level0-item__active__border-style: none;
//
//  Section variables
//  _____________________________________________

//
// Dot
//

@dot-background: @theme__color__red;
@dot-border: 1px solid @theme__color__red;

@tab-control__font-weight: @font-weight__black;
@border-base: 1px solid #dcdcdc;
@collapsible-nav-item-hover: none;
@layout-column-main__sidebar-offset: 3%;

.lib-title(){
    border: none;
    color: @theme__color__primary;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
}
//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/brandon-grotesque/regular/brandon-grotesque-regular',
        @font-weight: 400,
        @font-style: normal
    );

    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/brandon-grotesque/bold/brandon-grotesque-bold',
        @font-weight: 700,
        @font-style: normal
    );

    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/brandon-grotesque/black/brandon-grotesque-black',
        @font-weight: 900,
        @font-style: normal
    );

    .lib-font-face(
        @family-name: @font-family-name__secondary,
        @font-path: '@{baseDir}fonts/claude-sans-std/regular/claude-sans-std',
        @font-weight: 400,
        @font-style: normal
    );

    .lib-font-face(
        @family-name: @font-family-name__secondary,
        @font-path: '@{baseDir}fonts/claude-sans-std/regular-italic/claude-sans-std-italic',
        @font-weight: 400,
        @font-style: italic
    );

    .lib-font-face(
        @family-name: @font-family-name__secondary,
        @font-path: '@{baseDir}fonts/claude-sans-std/bold-italic/claude-sans-std-bold-italic',
        @font-weight: 700,
        @font-style: italic
    );

    .lib-font-face(
        @family-name: @icons__awesome-font,
        @font-path: @icons__awesome-font-path,
        @font-weight: normal,
        @font-style: normal
    );

    .lib-font-face(
        @family-name: @icons__awesome-brand-font,
        @font-path: @icons__awesome-brand-font-path,
        @font-weight: normal,
        @font-style: normal
    );

    // used for filled icons
    .lib-font-face(
        @family-name: @icons__awesome-font,
        @font-path: @icons__awesome-solid-font-path,
        @font-weight: 900,
        @font-style: normal
    );

    // used for light icons
    .lib-font-face(
        @family-name: @icons__awesome-font,
        @font-path: @icons__awesome-light-font-path,
        @font-weight: 300,
        @font-style: normal
    );


    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        .lib-css(text-transform, @heading-primary__text-transform);
    }

    .h1 {
        &:extend(h1 all);
    }

    .h2 {
        &:extend(h2 all);
    }

    .h3 {
        &:extend(h3 all);
    }

    .h4 {
        &:extend(h4 all);
    }

    .p {
        &:extend(p all);
    }

    .custom-bullet {
        padding: 0 0 0 18px;
        list-style: disc;
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__m - 1)) {
    h1 {
        .lib-font-size(@h1-mobile__font-size);
        .lib-css(line-height, @h1-mobile__line-height);
    }

    h2 {
        .lib-font-size(@h2-mobile__font-size);
    }
    .h1 {
        &:extend(h1 all);
    }
    .h2 {
        &:extend(h2 all);
    }
    .h3 {
        &:extend(h3 all);
    }
    .h4 {
        &:extend(h4 all);
    }
    .p {
        &:extend(p all);
    }
}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__m) and (@extremum2 = 'max') and (@break2 = @screen__ml) {

    h1 {
        .lib-font-size(@h1-tablet__font-size);
    }

    h2 {
        .lib-font-size(@h2-tablet__font-size);
    }

    .h1 {
        &:extend(h1 all);
    }
    .h2 {
        &:extend(h2 all);
    }
    .h3 {
        &:extend(h3 all);
    }
    .h4 {
        &:extend(h4 all);
    }
    .p {
        &:extend(p all);
    }
}

