& when  (@media-common = true) {
    .message{
        &.success,
        &.info,
        &.error,
        &.warning {
            margin: 10px 0 10px;
            text-transform: uppercase;
            font-weight: @font-weight__heavy;
            text-align: center;
            .lib-font-size(16);
            & > *:first-child{
                &:before{
                    content: unset !important;

                }
            }
            a {
                color: @theme__color__secondary;
                text-decoration: underline;
                &:hover,
                &:active,
                &:focus{
                    color: @theme__color__primary;
                }
            }
        }
    }
}
