& when (@media-common = true) {
    .slick-dots li.slick-active button,
    .slick-dots li.slick-active .cart.table-wrapper .actions-toolbar > .action,
    .slick-dots li.slick-active .action-gift {
        background: @dot-background
    }
    .slick-dots li button,
    .slick-dots li .cart.table-wrapper .actions-toolbar > .action,
    .slick-dots li .action-gift {
        border: @dot-border;
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__m - 1))  {
    .grid {
        .products-grid {
            .product-items {
                &.slick-slider {
                    .slick-list {
                        .slick-track {
                            .product-item-info {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
