
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__ml - 1))  {

    .search-toggle {
        display: block;
        position: absolute;
        left: 60px;
        bottom: -3px;
        &:before {
            content: @kri-iconsearch;
            font-family: 'kri';
            .lib-font-size(30);
            color: @theme__color__secondary;
        }
        span {
            display: none;
        }
    }
}


