<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>
<?php
$images = $block->getGalleryImages()->getItems();
$mainImageIndex = -1;
foreach ($images as $image) {
    $mainImageIndex++;
    if ($block->isMainImage($image)) {
        break;
    }
}
$mainImageIndex = $mainImageIndex ?: 0;

$thumbs = false;
$thumb_class = '';
$gallery_class= null;

if($block->getVar("gallery/thumb")) {
    $thumbs = true;
    $thumb_class = $block->getVar("gallery/navvertical") ? 'vertical-thumbs' : 'horizontal-thumbs';
}

if(is_array($block->getGalleryImages()->getItems()) && count($block->getGalleryImages()->getItems()) > 1){
    $gallery_class = 'gallery-init';
}
?>
<div class="gallery-wrapper <?= /* @escapeNotVerified */$thumb_class ?>">
    <div class="gallery-placeholder-wrapper">
        <div class="gallery-placeholder <?= /* @escapeNotVerified */ $gallery_class?>" data-gallery-role="gallery-placeholder">
            <?php if (empty($images)) :
                $helper = $block->getData('imageHelper');
                $defaultPlaceholderUrl = $helper->getDefaultPlaceholderUrl('image');
                ?>
                <div class="image-wrapper" data-type="">
                    <img class="slider-image"
                         src="<?= /* @noEscape */ $defaultPlaceholderUrl ?>"
                         data-zoom="<?= /* @noEscape */ $defaultPlaceholderUrl ?>"
                         data-thumb="<?= /* @noEscape */ $defaultPlaceholderUrl ?>"
                         style="max-width: 100%; max-height: 100%">
                </div>
            <?php else: ?>
                <?php foreach ($images as $image) : ?>
                    <div class="image-wrapper" data-type="<?= /* @escapeNotVerified */ $image->getMediaType(); ?>">
                        <img class="slider-image"
                             src="<?= /* @noEscape */ $image->getMediumImageUrl() ?>"
                             data-zoom="<?= /* @noEscape */ $image->getLargeImageUrl() ?>"
                             data-thumb="<?= /* @noEscape */ $image->getSmallImageUrl() ?>"
                             style="max-width: 100%; max-height: 100%">
                    </div>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
        <?= $block->getChildHtml('balance_shopbybrand_brand_block'); ?>
    </div>
    <?php  if($thumbs && $gallery_class): ?>
        <div class="slick-nav">
            <div class="dummy"></div>
            <div class="dummy"></div>
            <div class="dummy"></div>
        </div>
    <?php endif; ?>
</div>
<!--Fix for jumping content. Loader must be the same size as gallery.-->
<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "Magento_Catalog/js/product-gallery": {
                "data": <?= /* @escapeNotVerified */ $block->getGalleryImagesJson() ?>,
                "mainImageIndex": <?= /* @escapeNotVerified */ $mainImageIndex ?>,
                "options": {
                    "dots": <?= /* @escapeNotVerified */ $block->getVar("gallery/dots") ? 'true' : 'false' ?>,
                    "arrows": <?= /* @escapeNotVerified */ $block->getVar("gallery/arrows") ? 'true' : 'false' ?>,
                    "autoplay": <?= /* @escapeNotVerified */ $block->getVar("gallery/autoplay") ? 'true' : 'false' ?>,
                    "autoplaySpeed": "<?= /* @escapeNotVerified */ $block->getVar("gallery/autoplaySpeed") ?>",
                    "infinite": <?= /* @escapeNotVerified */ $block->getVar("gallery/infinite") ? 'true' : 'false' ?>,
                    "accessibility": <?= /* @escapeNotVerified */ $block->getVar("gallery/accessibility") ? 'true' : 'false' ?>,
                    "vertical": <?= /* @escapeNotVerified */ $block->getVar("gallery/vertical") ? 'true' : 'false' ?>,
                    "fade": <?= /* @escapeNotVerified */ $block->getVar("gallery/fade") ? 'true' : 'false' ?>,
                    "allowZoom": <?= /* @escapeNotVerified */ $block->getVar("gallery/allowZoom") ? 'true' : 'false' ?>,
                    "allowfullscreen": <?= /* @escapeNotVerified */ $block->getVar("gallery/allowfullscreen") ? 'true' : 'false' ?>,
                    "showCaption": <?= /* @escapeNotVerified */ $block->getVar("gallery/caption") ? 'true' : 'false' ?>,
                    "thumb": <?= /* @escapeNotVerified */ $block->getVar("gallery/thumb") ? 'true' : 'false' ?>,
                    "navarrows": <?= /* @escapeNotVerified */ $block->getVar("gallery/navarrows") ? 'true' : 'false' ?>,
                    "navvertical": <?= /* @escapeNotVerified */ $block->getVar("gallery/navvertical") ? 'true' : 'false' ?>,
                    "navnum": "<?= /* @escapeNotVerified */ $block->getVar("gallery/navnum") ?>",
                    "thumbWidth": "<?= /* @escapeNotVerified */ $block->getVar("gallery/thumbWidth") ?>",
                    "thumbHeight": "<?= /* @escapeNotVerified */ $block->getVar("gallery/thumbHeight") ?>"
                },
                "fullscreen": {
                    "nav": "<?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/nav") ?>",
                    "loop": <?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/loop") ? 'true' : 'false' ?>,
                    "navdir": "<?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/navdir") ?>",
                    "navarrows": <?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/navarrows") ? 'true' : 'false' ?>,
                    "navtype": "<?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/navtype") ?>",
                    "arrows": <?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/arrows") ? 'true' : 'false' ?>,
                    "showCaption": <?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/caption") ? 'true' : 'false' ?>,
                    <?php if ($block->getVar("gallery/fullscreen/transition/duration")): ?>
                        "transitionduration": <?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/transition/duration") ?>,
                    <?php endif; ?>
                    "transition": "<?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/transition/effect") ?>"
                },
                "breakpoints": <?= /* @escapeNotVerified */ $block->getBreakpoints() ?>
            }
        }
    }
</script>

