<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="actions-toolbar">
    <div class="primary">
        <button class="action action-update primary"
                type="button"
                click="updateAddress">
            <span translate="'Update'"/>
        </button>
        <button class="action action-cancel"
                type="button"
                click="cancelAddressEdit"
                visible="canUseCancelBillingAddress()">
            <span translate="'Cancel'"/>
        </button>
    </div>
</div>
