<div class="subtotal">
  <span class="label">
      <!-- ko i18n: 'Subtotal: ' --><!-- /ko -->
  </span>
    <!-- ko foreach: elems -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>
