<?php if($block->getName()): ?>
    <section class="page-title-wrapper">
        <h1 class="page-title">
            <span class="base" data-ui-id="page-title-wrapper"><?= $block->escapeHtml(__('Hello %1', $block->getCustomer()->getFirstName())); ?> !</span>
        </h1>
        <?= $block->getChildHtml() ?>
    </section>
<?php endif; ?>
