& when (@media-common = true) {
    .slide-hompage {
        position: relative;
        .slick-slider {
            position: static;
        }
        .slick-prev {
            .lib-transition();
            left: 3rem;
            .lib-slick-button()
        }
        .slick-next {
            .lib-transition();
            right: 3rem;
            .lib-slick-button()
        }
        .pagebuilder-slider {
            .pagebuilder-poster-content {

                .lib-css(font-family, @font-family-name__base);

                > [data-element='content'] h3 {
                    .lib-text_italic-secondary();
                }
                h2 {
                    margin: 0;
                }
                img {
                    margin: 0 auto;
                }
            }
            .pagebuilder-overlay {
                max-width: 600px;
                margin: 0 auto;
            }
        }

    }
    .pagebuilder-column{
        div[data-content-type='text'] {
            height: 100%;
        }
    }
    .pagebuilder-slider {
        .slick-prev:active,
        .slick-next:active,
        .slick-prev:focus,
        .slick-next:focus,
        .slick-prev:not(.primary),
        .slick-next:not(.primary) {
            .lib-css(border-radius, 100%) !important;
            .lib-css(box-shadow, @button__shadow);
            height: 100px;
            width: 100px;

        }
    }
    .pagebuilder-poster-content{
        .pagebuilder-button-secondary{
            .lib-css(text-transform, @heading-primary__text-transform);
            .lib-css(box-shadow, @button__shadow);
            .lib-button-secondary(
                @_button-padding: 15px 20px 14px
            );
            .lib-transition();
            .lib-chevron-right();
            &:after {
                right: 25px;
                top: 12px;
                font-size: 16px;
            }
        }
        h2 {
            margin: 10px;
            strong, b {
                text-transform: uppercase;
                .lib-css(font-weight, @font-weight__extrabold)
            }
        }
        .pagebuilder-banner-button {
            margin: 10px 0 0;
        }
    }

    .pagebulder-poster {
        max-width: 450px;
        position: relative;
        margin-right: 30px;
        &:last-child{
            margin: 0;
        }
        .pagebuilder-banner-wrapper {
            position: static;

            .pagebuilder-overlay {
                position: static;
                padding: 0;
            }
            .pagebuilder-poster-content {
                position: absolute;
                padding: 40px;
                bottom: 0;
                p{
                    padding: 0 20px;
                }
                .pagebuilder-button-secondary{
                    .lib-css(text-transform, @heading-primary__text-transform);
                    .lib-css(box-shadow, @button__shadow);
                    .lib-button-secondary(
                        @_button-padding: 15px 20px 14px
                    );
                    .lib-transition();
                }
            }
        }
    }
    .pagebuilder-row {
        position: relative;
        .pagebuilder-poster-content {
            position: absolute;
            width: 39%;
            right: 0;
            bottom: 47px;
            padding: 0 18px;
            .pagebuilder-banner-button {
                margin-top: 10px;
            }
            h2 {
                margin: 10px 0;
            }
        }
    }
    .pagebuilder-content {
        h3 {
            .lib-text_italic-secondary();
        }
        h2 {
            margin: 0;
            span {
                .lib-chevron-right(
                @_checvon-top: 5px
                );

            }
        }
        &.last-content {
            img {
                width: 210px;
                max-width: 210px;
            }
        }
    }
    a.pagebuilder-button-link{
        span {
            .lib-chevron-right();
            &:after {
                font-size: 16px;
                top: 0;
            }
        }
    }

    .pagebuilder-banner__slider{
        .pagebuilder-content {
            h2{
                span {
                    &:after {
                        content: unset;
                    }
                }
            }
        }
    }

}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__ml - 1))  {
    .slide-hompage {
        position: relative;

        .slick-slider {
            position: static;
        }
        .slick-next,
        .slick-prev{
            display: none !important;
         }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__l - 1))  {
    .pagebuilder-container{
        .pagebuilder-column-group{
            padding: 0 15px;
            justify-content: center;
            .pagebulder-poster{
                margin-right: 15px
            }

        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__m - 1))  {
    .container-resize {
        display: none;
    }
    .pagebuilder-row {
        position: relative;
        margin-left: 15px;
        margin-right: 15px;
        .pagebuilder-banner-wrapper {
            .pagebuilder-poster-overlay {
                position: static;
            }
            .pagebuilder-poster-content {
                position: absolute;
                bottom: 0;
                width: auto;
                padding: 40px 30px;
                .pagebuilder-banner-button {
                    margin-top: 10px;
                    opacity: 1 !important;
                    visibility: visible !important;
                }

                h2 {
                    margin: 10px 0;
                }
                p, h2, span {
                    text-align: center;
                }
            }
        }
    }


}
@media only screen and (max-width: (@screen__m)) {
    .pagebuilder-row{
        .pagebuilder-banner-wrapper {
            background-size: cover !important ;
            background-position: center !important;
        }
        .pagebuilder-poster-content {
            .lib-flex();
            justify-content: center;
            align-items: center;
            .lib-vendor-prefix-flex-direction(column)
        }
    }
    .pagebuilder-second {
        img {
            max-width: 165px;
            width: 165px;
            height: auto;
        }
    }
    .pagebuilder-container{
        .pagebuilder-column-group{
            .pagebulder-poster{
                margin: 0 auto 30px;
                width: 100% !important;
                max-width: 100%;
            }
        }
    }
    .pagebuilder-content {
        &.last-content {
            .pagebuilder-column-group{
                padding: @gutter-width;
            }
        }
    }
    .pagebuilder-content {
        &.last-content {
            padding: 0 15px;
        }
    }
}
