//Footer css

& when (@media-common = true) {
    .custom-links.socials {
        ul {
            display: block;

            li {
                margin: 0;
                display: inline-flex;
                overflow: hidden;
                max-width: 30px;
                max-height: 30px;
                border-radius: 100%;

                .kri-icon-facebook {
                    padding: 3px 11px;
                }

                a {
                    color: @color-white;
                    background: @theme__color__secondary;
                    padding: 3px 7px;
                    display: block;
                    max-height: 30px;
                    max-width: 30px;
                    overflow: hidden;;
                    &:before {
                        color: @color-white;
                    }
                }

                &:nth-child(even) {
                    margin: 0 10px;
                }
            }
        }
    }
    .page-footer {
        background: @color-white;
        a, a:hover {
            .lib-css(text-decoration, @link__text-decoration)
        }
        .footer-bottom-inner{
            padding: 0;
            .lib-flex();
            .call{
                margin-left: 30px ;
            }
            .footer-column {
                width: 16.666%;
                flex-basis: 16.666%;
                justify-content: center;
                &.last-column {
                    width: 33%;
                    flex-basis: 33%;
                    border: none;

                }
                h4,
                li,
                .link-contact {
                    .lib-font-size(18);
                    font-weight: 900;
                    margin-bottom: 12px;
                    color: @theme__color__primary;
                }
                h4{
                    padding: 20px 0;
                }
                .message, .call {
                    text-transform: uppercase;
                    padding: 10px 0;
                    display: inline-block;
                    &:before {
                        content: @kri-iconmessage;
                        font-family: @font-awesome-pro;
                        color: @theme__color__secondary;
                        font-weight: normal;
                        margin-right: 10px;
                    }
                }
                .call {
                    &:before {
                        content: @kri-iconcall;
                        font-family: @font-awesome-pro;
                    }
                }
                a,
                p{
                    color: @color-black;
                    .lib-font-size(16);
                    font-weight: normal;
                    .lib-line-height(24);

                    }
                }
            }
        br {
            display: none;
        }
    }
    .copyright-wrapper {
        background: @color-white url('../svg/copyright-bg.svg') bottom repeat-x;
        padding: 0 0 130px;
        justify-content: space-between;
        ul {
            li {
                display: inline-block;
                .lib-font-size(16);
                a {
                    color: @color-black3;
                }
            }
        }
        .copyright-container {
            padding: 60px 0;
            .lib-flex();
            justify-content: space-between;
        }
        .copyright-right {
            width: 50%;
            float: right;
            .payment-container {
                background: url('../svg/payment.svg') right no-repeat;
                background-size: 400px 100px;
                width: 100%;
                height: 30px;
            }
            ul{
                float: right;
                li {
                    img {
                        width: 64px;
                        height: auto;
                    }
                }
            }
        }
        .copyright-left {
            ul {
                li{
                    margin-right: 20px;
                }
            }
        }
    }

}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__ml - 1))  {
    .page-footer {
        background: @color-white;
        .footer-bottom-inner {
            &.collapse {
                padding: @indent__l;
                display: block;
            }

            .footer-column {
                &.full-width,
                &.full-width.last-column {
                    width: 100%;
                    flex-basis: 100%;
                    border-top: 1px solid @theme__color__primary;
                }

                &.last-column {
                    text-align: center;
                    h4 {
                        &:after{
                            content: unset;
                        }
                    }
                }
                ul {
                    display: block;
                }

                h4{
                    &:after {
                        content: @kri-arrow-bottom;
                        font-family: @font-awesome-pro;
                        float: right;
                        padding-right: 10px;
                    }
                }
                &:hover {
                    .last-column {
                        h4 {
                            &:after{
                                content: unset;
                            }
                        }
                    }
                    h4{
                        &:after {
                            content: @kri-arrow-top;
                            color: @theme__color__secondary;
                        }
                    }
                }
            }
        }
    }
    .copyright-wrapper{
        .copyright-container {
            padding-top: 0;
            flex-wrap: wrap;

        }
        .copyright-left{
            width: 100%;
            text-align: center;
            margin: 0 auto;
        }
        .copyright-right{
            float: none !important;
            margin: 0 auto;
            ul {
                float: none !important;
                .lib-flex();
                .lib-vendor-prefix-flex-wrap();
                .lib-css(justify-content, center);
                margin: 0 auto;
            }
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__m - 1))  {
    .page-footer {
        background: @color-white;

        .footer-bottom-inner {
            &.collapse {
                padding: 30px 15px 15px;
                display: block;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xl ) {
    .page-footer, .copyright-wrapper {
        .footer-bottom-inner, .copyright-container{
            padding: 20px;
        }
    }

}

@media only screen and (max-width: (@screen__xxxs - 1)) { // 319px
    .page-footer {
        .footer-bottom-inner {
            .call {
                margin-left: 0;
            }
        }
    }

}

