

@font-family-name__base: 'Brandon Grotesque';
@font-family-name__secondary: 'Claude Sans Std';
@font-family__secondary: @font-family-name__secondary, @font-family__monospace;

@theme__color__primary: #336633;
@theme__color__secondary: #b02a31;
@theme__color__yellow: #E2AF2D;

body
,html {
    overflow-x: hidden;
}
header,
footer {
    ul, li, ol {
        list-style-type: none;
        margin: 0;
    }
}

ul {
    padding: 0;
    margin: 0;
}

.lib-full-width(){
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.lib-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}



.page-title-wrapper {
    text-align: center;
}
.no-pseudo {
   .pagebuilder-poster-content {
       h2 {
           span {
               &:before,
               &:after {
                   content: unset;
               }
           }
       }
   }
}

.lib-text_italic-secondary() {
    margin: 0;
    font-style: italic;
    text-align: center;
    font-family: @font-family__secondary;
    color:@theme__color__secondary;
    .lib-font-size(24);
    text-transform: none;
}
.lib-transition(){
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 250ms ease-in-out;
}
.lib-slick-button(
    @_color-icon: @theme__color__yellow,
    @_color-icon-hover: @theme__color__secondary

) {
    &:before,
    &:after {
        .lib-transition();
        .lib-css(color, @_color-icon);
    }
    &:visited ,
    &:hover ,
    &:active {
        .lib-css(color, @_color-icon-hover);
        &:before,
        &:after {
            .lib-transition();
            .lib-css(color, @_color-icon-hover);
        }
    }
}

.lib-link(
    @_link-color: @link__color,
    @_link-text-decoration: @link__text-decoration,
    @_link-color-visited: @link__visited__color,
    @_link-text-decoration-visited: @link__visited__text-decoration,
    @_link-color-hover: @link__hover__color,
    @_link-text-decoration-hover: @link__hover__text-decoration,
    @_link-color-active: @link__active__color,
    @_link-text-decoration-active: @link__active__text-decoration
) {
    .lib-css(color, @_link-color);
    .lib-css(text-decoration, @_link-text-decoration);

    &:visited {
        .lib-css(color, @_link-color-visited);
        .lib-css(text-decoration, @_link-text-decoration-visited);
    }

    &:hover {
        .lib-css(color, @_link-color-hover);
        .lib-css(text-decoration, @_link-text-decoration-hover);
    }

    &:active {
        .lib-css(color,@_link-color-active);
        .lib-css(text-decoration, @_link-text-decoration-active);
    }
}
.lib-pseudo(

    @_pseudo-background: @theme__color__secondary;
    @_pseudo-position: absolute;
    @_pseudo-before__strect: skew(0, 11deg);
    @_pseudo-after__strect: skew(0, -11deg);

){
    &:after{
        content: '';
        .lib-css(background, @_pseudo-background);
        .lib-css(position, @_pseudo-position);
        .lib-css(transform, @_pseudo-after__strect)
    }
    &:after{
        content: '';
        .lib-css(background, @_pseudo-background);
        .lib-css(position, @_pseudo-position);
        .lib-css(transform, @_pseudo-before__strect)
    }
}
.header-content__right {
    div {
        a {
            &:before {
                font-weight: normal;
                font-size: 30px;
                color: @theme__color__secondary;
            }
            &:hover,
            &:focus,
            &:active {
                &:before {
                    color: @theme__color__primary;
                }
            }
            span {
                .lib-font-size(16);
            }
        }
    }
}
.minicart-wrapper {
    .action.showcart, .action.showcart.active {
        &:before {
            content: @kri-iconcart;
            font-family: 'kri';
            color: @theme__color__secondary;
        }
    }
}












