//Header css

& when (@media-common = true) {
    header {
        margin-bottom: 50px;
        background: @color-white;
        &.page-header {
            border-bottom: none;
        }
        a {
            text-decoration: none;
            &:hover,
            &:focus,
            &:active {
                text-decoration: @text-decoration__none;
                &:before {
                    color: @theme__color__primary;
                }
            }
        }
        .nav-toggle:before {
            content: @kri-iconmenu;
            color: @theme__color__secondary;
            font-family: 'kri';
            position: relative;
            top: 5px;
            .lib-font-size(20);
        }


        .search-toggle {
            display: none;
        }
        ul {
            li {
                display: inline-block;
                font-size: 16px;
            }
        }
        .panel {
            &.wrapper {
                background: @theme__color__primary;
            }
            .panel-header__left,
            .panel-header__right {
                display: block;
            }
            &.header {
                display: -webkit-flex;
                display: -webkit-box;
                display: flex;
                align-content: center;
                align-items: center;

                a {
                    color: @color-white;
                }

                [class^="panel-header"]{
                    width: 33.333333%;
                    flex-basis: 33.333333%;
                }

                .panel-header__left {
                    li {
                        .kri-icon-facebook {
                            padding: 7px 11px;
                        }

                        a {
                            color: @theme__color__primary;
                            background: @color-white;
                            padding: 7px;
                            border-radius: 100%;
                            display: block;
                            max-height: 30px;
                            max-width: 30px;
                            overflow: hidden;
                        }

                        &:nth-child(odd) {
                            margin: 0 10px;
                        }
                    }
                }

                .panel-header__center {
                    font-weight: 700;
                    text-align: center;

                    a {
                        position: relative;
                        padding: 0 35px;

                        &:before {
                            content: @kri-icon-exclaiming;
                            font-family: @font-awesome-pro;
                            margin-right: 20px;
                            font-size: 22px;
                            position: absolute;
                            left: 0;
                            top: -3px;
                            font-weight: normal;
                        }

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                .panel-header__right {
                    text-align: right;

                    li {
                        margin: 0 10px;

                    }
                }
            }
        }
        .content {
            padding: 30px 20px  0;
            .lib-flex();
            justify-content: space-between;
            > div[class*="header-content"] {
                flex-basis: 33.3333%;
                width: 33.3333%;
            }

            .block {
                margin: 0 auto;
                float: none;
                padding: 0;
                &.block-search {
                    width: 100%;
                    .action {
                        &:before {
                            content: @kri-icon-search;
                            font-family: 'kri-icons';
                            color: @theme__color__secondary;
                            font-size: 25px;
                            margin-top: 10px;
                            margin-right: 10px;
                            overflow: unset;
                            font-weight: normal;
                        }
                    }
                }
                .input-text {
                    height: 50px;
                    width: 100%;
                    padding: 20px 45px 20px 20px ;
                }

            }
            .header-content__right {
                .lib-flex();
                justify-content: flex-end;

                a,
                .customer-icon{
                    .lib-font-size(18);
                    &:hover {
                        .lib-css(text-decoration, @text-decoration__none);
                    }

                    &.showpicker {
                        font-weight: 900;
                        text-transform: uppercase;
                        .lib-line-height(30);
                        &:before {
                            content: '\F041';
                            font-family: 'kri-icons-3';
                            color: @theme__color__secondary;
                            margin-right: 20px;
                            position: relative;
                            top: 3px;
                            &:hover,
                            &:focus,
                            &:active {
                                color: @theme__color__primary;
                            }
                        }
                        &:hover,
                        &:focus,
                        &:active {
                            color: @theme__color__primary;
                            &:before {
                                color: @theme__color__primary;
                            }
                        }
                    }

                }
                .authorization-link {
                    a {
                        &:before {
                            content: @kri-iconuser;
                            font-family: 'kri';
                            font-size: 30px;
                            margin: 0 25px 0 45px;
                        }
                        span {
                            font-size: 1px;
                        }
                    }
                }

            }
        }
    }

}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__m - 1))  {
    header.page-header {
        margin-bottom: 0;
        .content{
            .header-content__right {
                padding-right: @indent__l / 2;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__ml - 1))  {
    .logo {
        img {
            max-width: 116.75px;
            width: 100%;
            min-width: 116.75px;
            margin: 0 auto;
        }
    }
    .hidden-toggle {
        display:none !important;
    }
    header.page-header {
        .search-toggle {
            display: block;
            span {
                display: none;
            }
        }
        .panel {
            &.header {
                padding: 0;
                display: block;
                .panel-header__left,
                .panel-header__right {
                    @abs-visually-hidden();
                }

                > .panel-header__center {
                    width: auto;
                    text-align: center;
                    a {
                        display: block;
                        padding: 5px 0 8px ;
                        &:before {
                            position: relative;
                            top: 2px;
                        }
                    }
                }

            }
        }
        .content {
            padding: 0;
            height: 60px;
            .text,
            .authorization-link {
                display: none;
            }

            div[class*="header-content__left"] {
                max-width: 125px;
                .logo {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    padding: @indent__l ;
                    margin: 0;
                }
            }

            .header-content__centre {

                display: none;
                position: absolute;
                top: 67px;
                width: 100%;
                z-index: 3;
                .control {
                    padding-left: @indent__l;
                    padding-right: @indent__l;
                    border: none;
                }
                .actions {
                    .search {
                        padding-right: @indent__l;
                        display: block;
                        span{
                            display: none;
                        }
                    }
                }
                }
                &.visible {
                    display: block;
                }
            }

            .header-content__right {
                order: 3;
                margin-top: 12px;
                padding-right: @indent__l;
        }
    }

}





