// /**
//  * Copyright © Balance Internet, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

// Page Sections Variables
// ________________________________

// Page Title Section
@page-title-section__background-color: @color-white;
@page-title__margin: 0 0 10px;
@page-title__padding: 20px 0;

@page-title_tablet__padding: 10px 30px;
// Page title mobile styles
@product-page-title_mobile__margin: 0;

@product-page-title-section_mobile__pagging: 10px 15px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .page-title-section {
        padding: @page-title__padding;
        position: relative;
        text-align: center;

        &,
        & .page-title-wrapper {
            &:before,
            &:after {
                .lib-css(background, @page-title-section__background-color);
                bottom: @indent__s;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                width: 50%;
                z-index: -1;
            }

            &:before {
                left: 0;
                transform: skew(0deg, 11deg);
            }

            &:after {
                right: 0;
                transform: skew(0deg, -11deg);
            }
        }

        .page-title-wrapper {
            position: static;

            &:before,
            &:after {
                bottom: 50%;
                height: 100vh;
                min-height: 100%;
            }
        }

        & > .page-title-section-wrapper {
            margin: 0 auto;
            max-width: @layout__max-width;
            position: static;
        }

        .page-title {
            margin: 0;
        }

        .page.messages {
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: @layout__max-width;
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
            width: 100%;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__m - 1)) {
    .page-title-section {
        .lib-css(padding, @product-page-title-section_mobile__pagging);
        text-align: center;
        min-height: 17vw;

        .page-title-wrapper {
            border-top: 2px solid @border-secondary__color;
            padding: 20px 0;
        }
    }

    .catalog-product-view {
        .page-title-section {
            .page-title {
                .lib-css(margin, @product-page-title_mobile__margin);
            }
        }
    }
}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__m) and (@extremum2 = 'max') and (@break2 = @screen__ml) {
    .page-title-section {
        .lib-css(padding, @page-title_tablet__padding);

        .page-title-wrapper {
            border-top: 2px solid @border-secondary__color;
            padding: 20px 0;
        }
    }

    .catalog-product-view {
        .page-title-section {
            .page-title {
                .lib-css(margin, @product-page-title_mobile__margin);
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-title-section {
        &:before,
        &:after {
            bottom: @indent__base;
        }
    }
    .page-title-wrapper {
        .base {
            font-size: 36px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ml) {
    .page-title-section {
        .page-title {
            margin: @page-title__margin;
        }

        &:before,
        &:after {
            bottom: @indent__l * 2;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xxl) {
    .page-title-section {
        &:before,
        &:after {
            bottom: 25%;
        }

        & .page-title-wrapper {
            max-width: @screen__l;
            margin: 0 auto;
        }
    }
}
