<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Top menu for store
 *
 * @var $block \Magento\Theme\Block\Html\Topmenu
 */

$columnsLimit = $block->getColumnsLimit() ?: 0;
$_menuHtml = $block->getHtml('level-top', 'submenu', $columnsLimit)
?>

<nav class="navigation" data-action="navigation">
    <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
        <?= /* @noEscape */ $_menuHtml?>
        <?= $block->getChildHtml() ?>
    </ul>
    <div class="links-menu">
        <?php
        echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')
            ->setBlockId('menu_bottom')
            ->toHtml()

        ?>
    </div>
    <div class="custom-links socials">
        <?php
        echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')
        ->setBlockId('social_menu')
        ->toHtml();
        ?>
    </div>
</nav>

