// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    //  Summary block
    .cart{

        .cart-product-info{
            .product-image-wrapper {
                background: #f3f3f3;
                border-radius: 25px;
                display: block;
                width: 120px;
                height: 120px;
                .product-image-photo {
                    max-height: 130px;
                }
            }
        }
    }
    .cart-container {
        .summary.title{
            order: 1;
            color: @theme__color__primary;
            font-size: 24px;
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
    }
    .cart-summary {
        &:extend(.abs-add-box-sizing all);
        .lib-css(background, @color-white);
        margin-bottom: @indent__m;
        padding: 11px 15px @indent__m;
        border-radius: 20px;
        > .title {
            display: block;
            .lib-heading(h3);
        }

        .block {
            &:extend(.abs-discount-block all);
            margin-bottom: 0;

            .item-options {
                margin-left: 0;
            }

            .title {
                border: none;
                strong {
                    .lib-product-detail(
                        @product-align: left
                    ) !important;
                }
            }

            .fieldset{
                &.coupon {
                    margin: 15px 0 @indent__m @indent__xs;
                    position: relative;
                    .lib-flex();
                    .field {
                        margin: 0 0 @indent__s;
                        width: ~'calc(100% - 100px)';

                        &.note {
                            font-size: @font-size__s;
                        }
                    }
                    .actions-toolbar {
                        position: absolute;
                        right: 0;
                        .apply{
                            float: right;
                            width: 90px;
                            min-width: 90px;
                            span{
                                color: @theme__color__secondary;
                            }
                        }
                    }

                    .methods {
                        .field {
                            > .label {
                                display: inline;
                            }
                        }
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }
        }
        .grand.totals{
            .mark,
            .amount{
                padding: 8px 3.5px;
                strong{
                    font-weight: @font-weight__heavy;
                    color: @theme__color__primary;
                    text-transform: uppercase;
                }
            }
        }
        .actions-toolbar {
            > .primary {
                button {
                    &:extend(.abs-revert-secondary-color all);
                }
            }
        }
        &:extend(.abs-adjustment-incl-excl-tax all);
    }

    //  Totals block
    .cart-totals {
        border-top: 1px solid @border-color__base;
        border-bottom: 1px solid @border-color__base;
        padding: 25px 0;
        &:extend(.abs-sidebar-totals all);

        .table-wrapper {
            margin-bottom: 0;
            overflow: inherit;
        }

        .discount.coupon {
            display: none;
        }
    }

    //  Products table
    .cart.table-wrapper {
        .items {
            > .item {
                position: relative;
            }
        }
        .col {
            &.item,
            &.price,
            &.qty,
            &.subtotal,
            &.actions {
                text-align: left;
                padding-bottom: 14px;
                & > span {
                    .lib-product-detail(
                        @product-size: @text-font-size,
                        @product-align: left
                    );
                }
                .price-excluding-tax{
                    text-align: left;
                    .price{
                        color: @color-black;
                        text-align: left;
                    }
                }
            }
            &.item{
                padding-left: 0;
            }
        }

        .col {
            padding-top: 29px;

            &.qty {
                .input-text {
                    margin-top: -5px;
                    &:extend(.abs-input-qty all);
                    text-align: center;
                    width: 90px;
                    height: 50px;
                }

                .label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .item {
            &-actions td {
                padding-bottom: @indent__s;
                text-align: center;
                white-space: normal;
            }

            .col {
                &.item {
                    display: block;
                    min-height: 75px;
                    padding: 46.25px 12.5px 46.25px 130px;
                    position: relative;
                }
            }
        }

        .actions-toolbar {
            &:extend(.abs-add-clearfix all);

            > .action {
                &:extend(button all);
                .lib-link-as-button();
                margin-bottom: @indent__s;
                margin-right: @indent__s;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .action {
            &.help.map {
                &:extend(.abs-action-button-as-link all);
                font-weight: @font-weight__regular;
            }
        }

        .product {
            &-item-photo {
                display: block;
                left: 0;
                max-width: 60px;
                padding: 0;
                position: absolute;
                top: 15px;
                width: 100%;
            }

            &-item-details {
                white-space: normal;
            }

            &-item-name {
                a {
                    .lib-product-detail (
                        @product-align: left
                    );
                    margin-top: -6px;
                }
            }
        }

        .gift-registry-name-label {
            &:after {
                content: ':';
            }
        }

        //  Product options
        .item-options {
            font-size: @font-size__s;
            margin-bottom: @indent__s;
            &:extend(.abs-product-options-list all);
            &:extend(.abs-add-clearfix all);
        }

        .product-item-name + .item-options {
            margin-top: @indent__s;
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .action.configure {
            display: inline-block;
            margin: 0 0 @indent__base;
        }
    }

    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
            .summary-title{
                display: none;
            }
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            margin-top: @indent__base;
            text-align: center;

            .action.primary {
                &:extend(.abs-button-l all);
                width: 100%;
            }

            .item {
                & + .item {
                    margin-top: @indent__base;
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            margin: @indent__m 0 15px;
            padding: 0;
            text-align: center;
        }

        .pages {
            margin: 0 0 @indent__m;
            text-align: center;

            .items {
                > .item {
                    border-bottom: 0;
                }
            }
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    //
    //  Cross sell
    //  ---------------------------------------------

    .block.crosssell {
        margin-top: 70px;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: left;
            vertical-align: middle;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__m - 1)) {
    .cart {
        &.table-wrapper {
            overflow: inherit;
            .items {
               > .item {
                    border-top: @border-width__base solid #333333;
                }
            }

            thead {
                .col, .col.price {
                    display: none !important;
                }
            }
            tbody.item {
                .col.price {
                    display: none;
                }
            }

            .col {
                &.qty,
                &.price,
                &.msrp {
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    text-align: center;
                    white-space: nowrap;
                    width: 33%;

                }
                &.subtotal{
                    float: right;
                    padding-right: 0px;
                }
                &.actions{
                    float: right;
                    width: 100%;
                }
                &.msrp {
                    white-space: normal;
                }
            }

            .item {
                .col.item {
                    padding-bottom: 0;
                }
            }
        }
        .field {
            .input-text.qty {
                margin-left: 110px;
            }
        }
    }

    .cart-container {
        padding: 15px;
        .form-cart {
            &:extend(.abs-shopping-cart-items-mobile all);
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cart-container {
        padding: 1px 15px 31.25px;
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);
            .cart.actions {
                .action.update{
                    margin-left: 0;
                    width: 260px;
                    min-width: 260px;
                    max-width: 260px;
                }
            }
        }

        .widget {
            float: left;

            &.block {
                margin-bottom: @indent__base;
            }
        }
        .cart.table-wrapper {
            .items {
                thead + .item {
                    border-top: @border-width__base solid @border-color__base1;
                }
            }
        }
    }

    .cart-summary {

        .actions-toolbar {
            .column.main & {
                &:extend(.abs-reset-left-margin-desktop all);
                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);
                    margin: 0 0 @indent__s;
                }
            }
        }
    }

    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            .item {
                .col {
                    &.item {
                        padding: 27px 8px @indent__s;
                    }
                }

                &-actions {
                    td {
                        text-align: right;
                    }
                }
            }

            .product {
                &-item-photo {
                    display: table-cell;
                    max-width: 100%;
                    padding-right: @indent__base;
                    position: static;
                    vertical-align: top;
                }

                &-item-details {
                    display: table-cell;
                    vertical-align: top;
                    white-space: normal;
                    width: 99%;
                }
            }

            .item-actions {
                .actions-toolbar {
                    text-align: left;
                    &:extend(.abs-reset-left-margin-desktop all);
                }
            }
        }

        .action {
            margin-bottom: @indent__s;
        }
        .cart-product-info {
            .lib-flex();
            justify-content: center;
            align-items: center;
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;
            margin: 0 0 1px;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: 7px;
                            padding-top: 8px;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ml ) {

    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);
        }
        .cart-summary{
            float: right;
            position: relative;
            width: 23%;
            margin-top: 87px;
        }
    }

}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__ml - 1)) {
    .cart-container {
        .lib-flex();
        .lib-vendor-prefix-flex-direction(column-reverse);
        .cart-summary{
            padding: 0;
            margin-top: 30px;
        }
        form.form-cart {
            .lib-full-width();
            padding: 0
        }
        .action {
            &.update{
                .lib-full-width();
            }
        }
    }
}
.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__m) and (@extremum2 = 'max') and (@break2 = @screen__ml) {
    .cart-summary {
        .checkout-methods-items {
            .lib-flex();
            justify-content: center;
            align-items: center;
            .item {
                .lib-vendor-prefix-flex-basis(50%);
                padding: 5px;
                &:last-child{
                    margin-top: 0;

                }
            }
        }
    }
}
