
& when (@media-common = true) {
    .abs-checkout-title {
        .lib-css(border-bottom, @checkout-step-title__border);
        .lib-css(padding-bottom, @checkout-step-title__padding);
        .lib-css(text-transform, @heading-primary__text-transform);
        .lib-typography(
            @_font-size: @checkout-step-title__font-size,
            @_font-weight: @checkout-step-title__font-weight,
           @_font-family: false,
            @_font-style: false,
            @_line-height: false
        );
        .lib-css(color, @theme__color__primary);
    }
    body.checkout-index-index {
        .page-header {
            background: transparent;
            .header.content {
                padding-top: 25px;
            }

            div.checkout-header-content {
                border-bottom: 5px solid @theme__color__primary;
                padding-bottom: 30px;
                width: 100%;
                flex-basis: 100%;
                position: relative;
                .cart-link {
                    top: 18px;
                    position: absolute;
                    left: 0;
                    z-index: 9999;
                }
                .action.secondary {
                    .lib-button-secondary()
                }
                .logo {
                    width: inherit;
                    margin: 0 auto;
                    max-width: 100%;
                    float: revert;
                    img {
                        margin: 0 auto;
                        width: 225px;
                        height: 78px;
                    }
                }
            }
        }
        .payment-option{
            &.discount-code,
            &.giftcardaccount{
                display: none;
            }
        }
        .modal-header {
            margin: 0;
        }
        .page-title-wrapper {
            width: 100%;
            height: auto;
            .page-title-section {
                padding: 15px 0 10px
            }
        }
        .step-title {
            font-weight: @font-weight__heavy;
            padding-bottom: 20px;
        }
        .fieldset.hidden-fields {
            display: none !important;
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break =  @screen__m ) {
    .checkout-shipping-method {
        .actions-toolbar {
            > .primary {
                float: left;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = ( @screen__m - 1  )) {
    body.checkout-index-index {
        header.page-header {
            .header.content {
                padding: 10px 15px 15px;
            }
        }
        .checkout-container  {
            padding: 15px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__ml - 1)) {
    body.checkout-index-index {
        &._has-modal-custom {
            .cart-link {
                z-index: 1 !important;
            }
        }
        header.page-header {
            .header.content {
                padding: 10px 30px 15px;
            }
            div.checkout-header-content {
                border-bottom: 2px solid @theme__color__primary;
                padding-bottom: 90px;
            }

            .cart-link {
                .button.action.secondary{
                    width: 75px;
                    min-width: 75px;
                    padding: 13px;
                }
            }
        }
        .page-title-section {
            padding-bottom: 0;
            .page-title-wrapper{
                border-top: none;
                padding: 0;
            }
        }
        .checkout-container  {
            padding: 15px 30px;
        }
    }
    .custom-slide.opc-sidebar {
        .lib-modal();
        .lib-modal-slide();

        &._show {
            -webkit-overflow-scrolling: touch;
            overflow: auto;
            width: 100%;
            margin: 0;
            max-width: 375px;
            right: 0;
            left: auto;
        }

        .modal-inner-wrap {
            .lib-css(background-color, transparent);
            box-sizing: border-box;
            height: auto;
            padding-left: 60px;
            min-height: 100%;
            box-shadow: none;
            overflow: unset;

            .action-close {
                background: @theme__color__secondary;
                border-radius: 0;
                z-index: 1;
                padding: 11px;
                position: absolute;
                top: 0;
                left: -26px;
                margin-right: 0;
                margin-top: 0;
                &:before {
                    color: @color-white;
                }
            }
            .opc-block-summary {
                background: @color-white;
                padding: 10px 20px 0;
                > span {
                    margin: 10px 10px 10px 0;
                }
            }
            .opc-block-summary-content {
                box-shadow: unset;
                padding: 0;
                .block.items-in-cart {
                    .title {
                        padding-right: 20px;
                        top: 19px;
                    }
                }
            }
        }
    }

}

