// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;

@minicart-qty__height: 20px;
@active__color: @theme__color__yellow;
//
//  Common
//  _____________________________________________


& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
        .items-total {
            float: left;
            margin: 0 @indent__s;

            .count {
                font-weight: @font-weight__bold;
            }
            span {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: @font-weight__heavy;
                color: @theme__color__primary;

            }
        }
        .minicart-items-wrapper {
            .product-item-name{
                height: 20px;
                max-height: 20px;
                text-align: left;
            }
        }

        .subtotal {
            margin: 0 @indent__s @indent__s;
            text-align: right;
            .lib-flex();
            justify-content: flex-end;

            .label {
                &:extend(.abs-colon all);
                font-size: @text-font-size;
                text-transform: uppercase;
                font-weight: @font-weight__extrabold;
                color: @theme__color__secondary;
                margin-top: 2px;
                &:after {
                    content: none !important;
                }
                & > span {
                    white-space: pre;
                }
            }
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: @text-font-size;
                        font-weight: @font-weight__heavy;
                        color: @theme__color__secondary;
                    }
                }
            }
        }

        .subtitle {
            display: none;

            &.empty {
                display: block;
                font-size: 14px;
                padding: @indent__l 0 @indent__base;
                text-align: center;
            }
        }

        .text {
            &.empty {
                text-align: center;
            }
        }

        .block-content {
            > .actions {
                margin-top: 15px;
                text-align: center;

                > .primary {
                    margin: 0 @indent__s 15px;

                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                            display: block;
                            margin-bottom: 15px;
                            width: 100%;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }

    .minicart-wrapper {
        .lib-dropdown(
            @_toggle-selector: ~'.action.showcart',
            @_options-selector: ~'.block-minicart',
            @_dropdown-list-width: 100%,
            @_dropdown-list-position-right: 0,
            @_dropdown-list-pointer-position: right,
            @_dropdown-list-pointer-position-left-right: 26px,
            @_dropdown-list-z-index: 101,
            @_dropdown-toggle-icon-content: @icon-cart,
            @_dropdown-toggle-active-icon-content: @icon-cart,
            @_dropdown-list-item-padding: false,
            @_dropdown-list-item-hover: false,
            @_icon-font-position: before,
            @_icon-font-size: 35px,
            @_icon-font-line-height: 33px,
            @_icon-font-color: @minicart-icons-color,
            @_icon-font-color-hover: @minicart-icons-color-hover,
            @_icon-font-color-active: @minicart-icons-color
        );
        float: right;

        .block-minicart {
            .lib-css(padding, 25px @minicart__padding-horizontal);

            .block-title {
                display: none;
            }
        }

        .product {
            .actions {
                > .primary,
                > .secondary {
                    display: inline;
                }
            }
        }

        .action {
            &.close {
                .lib-button-icon(
                    @icon-remove,
                    @_icon-font-size: 32px,
                    @_icon-font-line-height: 32px,
                    @_icon-font-text-hide: true
                );
                .lib-button-reset();
                height: 40px;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                &:before {
                    content: '';
                }
            }

            &.showcart {
                white-space: nowrap;

                .text {
                    &:extend(.abs-visually-hidden all);
                }

                .counter.qty {
                    .lib-css(background, @active__color);
                    .lib-css(color, @page__background-color);
                    .lib-css(height, @minicart-qty__height);
                    .lib-css(line-height, @minicart-qty__height);
                    .lib-css(font-family, @font-family-name__base);
                    .lib-css(font-size, 16px);
                    border-radius: 50%;
                    display: inline-block;
                    margin: 3px 0 0;
                    min-width: 15px;
                    position: absolute;
                    right: -5px;
                    font-weight: @font-weight__bold;
                    top: -15px  ;
                    overflow: hidden;
                    padding: 0 3px;
                    text-align: center;
                    white-space: normal;

                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                    .counter-number {
                        font-size: 12px;
                    }
                }

                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .minicart-widgets {
            margin-top: 15px;
        }
    }

    .minicart-items-wrapper {
        .lib-css(border, 1px solid @minicart__border-color);
        .lib-css(margin, 0 -@minicart__padding-horizontal);
        border-left: 0;
        border-right: 0;
        overflow-x: auto;
        padding: 15px 38px 15px 20px;
    }

    .minicart-items {
        .lib-list-reset-styles();

        .product-item {
            padding: @indent__base 0;

            &:not(:first-child) {
                .lib-css(border-top, 1px solid @minicart__border-color);
            }

            &:first-child {
                padding-top: 0;
            }

            > .product {
                &:extend(.abs-add-clearfix all);
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .product-item-pricing {
            .lib-flex();
            justify-content: space-between;
            align-items: center;
            .label {
                display: inline-block;
            }
        }
        .product.actions {
            margin-top: 15px;
            .edit {
                &:before {
                    content: @kri-iconpencil;
                    font-family: 'kri';
                    font-size: 24px;
                    color: @theme__color__secondary;
                }
            }
            .delete{
                &:before {
                    color: @theme__color__secondary;
                    font-size: 32px;
                }
            }
        }
        .price-minicart {
            margin-bottom: @indent__xs;
        }

        .message {
            margin-bottom: 0;
            margin-top: 10px;
        }

        .product {
            > .product-item-photo,
            > .product-image-container {
                float: left;
            }

            .toggle {
                .lib-icon-font(
                    @_icon-font-content: @icon-down,
                    @_icon-font-size: 28px,
                    @_icon-font-line-height: 16px,
                    @_icon-font-text-hide: false,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );
                cursor: pointer;
                position: relative;
                white-space: nowrap;

                &:after {
                    position: static;
                    right: @indent__base;
                    top: 0;
                }
            }

            &.active {
                > .toggle {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }
        }

        .product-item-name {
            font-weight: @font-weight__regular;
            margin: 0 0 @indent__s;

            a {
                .lib-css(color, @link__color);
            }
        }

        .product-item-details {
            padding-left: 88px;

            .price {
                font-weight: @font-weight__heavy;
                font-size: @text-font-size;
            }

            .price-including-tax,
            .price-excluding-tax {
                margin: @indent__xs 0 0;
            }

            .weee[data-label] {
                .lib-font-size(11);

                .label {
                    &:extend(.abs-no-display all);
                }
            }

            .details-qty {
                margin-top: @indent__s;
            }
        }

        .product.options {
            .tooltip.toggle {
                .lib-icon-font(
                    @icon-down,
                    @_icon-font-size: 28px,
                    @_icon-font-line-height: 28px,
                    @_icon-font-text-hide: true,
                    @_icon-font-margin: -3px 0 0 7px,
                    @_icon-font-position: after
                );

                .details {
                    display: none;
                }
            }
        }

        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }

        .item-qty {
            text-align: center;
            width: 70px;
            height: 40px;
        }

        .update-cart-item {
            .lib-font-size(11);
            margin-left: 5px;
            vertical-align: top;
        }

        .subtitle {
            display: none;
        }

        .action {
            &.edit,
            &.delete {
                .lib-icon-font(
                    @icon-settings,
                    @_icon-font-size: 28px,
                    @_icon-font-line-height: 28px,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @color-gray19,
                    @_icon-font-color-hover: @color-gray19,
                    @_icon-font-color-active: @color-gray19
                );
            }

            &.delete {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-trash
                );
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ml) {
    .minicart-wrapper {
        .block{
            &.block-minicart {
                padding: 20px;
                border-radius: 20px;
                margin-right: 15px;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__m - 1 )) {
    .minicart-wrapper {
        position: static;
        .action.showcart {
            .counter.qty {
                right: 12px;
                top: 2px
            }
        }
        .block-content {
            padding-top: 15px;
        }
        .minicart-items-wrapper {
            padding: 15px 38px 15px 28px;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .minicart-wrapper {
        margin-top: @indent__s;
        .lib-clearfix();
        .product {
            .actions {
                float: left;
                margin: 10px 0 0 0;
            }
        }
        .update-cart-item {
            float: right;
            margin-left: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
        margin-left: 13px;

        .block-minicart {
            right: -15px;
            width: 445px;
            z-index: 200;
        }
    }
}
