// /**
//  * Copyright © Balance Internet, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Local Variables
//  _____________________________________________

@minisearch-input__max-width: 450px;
@minisearch-input__color: null;
@minisearch-input__font-size: null;

@minisearch-border__color: @border-primary__color;
@minisearch-placeholder__color: null;

@minisearch-icon__color: @icon-font__color;
@minisearch-icon__font-size: 30px;
@minisearch-icon__content :'kri';
@minisearch-button__width: 55px;

@minisearch-icon_mobile__font-size: @minisearch-icon__font-size;
@minisearch-button_mobile__width: 48px;
@minisearch-input_mobile__height: 50px;
@minisearch-icon_mobile__color: @icon-font__color;

@minisearch-toggle__background-color: none;
@minisearch-toggle__width: 40px;
@minisearch-toggle__height: 60px;
@minisearch-toggle__color: @minisearch-icon__color;
@minisearch-toggle-icon__content: @minisearch-icon__content;
@minisearch-toggle-icon__font-size: @minisearch-icon__font-size;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-search {
        max-width: @minisearch-input__max-width;

        .block-title {
            @abs-no-display();
        }
        input {
            margin: 0;
        }
    }

    .minisearch {
        position: relative;

        .label,
        .nested {
            @abs-no-display();
        }

        .actions {
            position: absolute;
            right: 0;
            top: 0;
        }

        .action.search {
            .lib-button-reset();
            .lib-css(width, @minisearch-button__width);
            //.lib-icon-font(
            //    @_icon-font-content: @minisearch-icon__content,
            //    @_icon-font: @krispy-icon-font-family,
            //    @_icon-font-size: 26px,
            //    @_icon-font-line-height: 48px,
            //    @_icon-font-color: @minisearch-icon__color,
            //    @_icon-font-color-hover: @theme__color__primary,
            //    @_icon-font-color-active: @theme__color__primary,
            //    @_icon-font-margin: 0 5px 0 0,
            //    @_icon-font-vertical-align: middle,
            //    @_icon-font-position: before,
            //    @_icon-font-text-hide: true
            //);

            &:before {
                overflow: visible;
                padding: 0;
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__ml - 1)) {
    .block.block-search {
        max-width: 100%;

        .minisearch,
        .algolia-search-block {
            &:after {
                background-color: @theme__color__primary;
                content: '';
                display: block;
                height: 2px;
                border-radius: 2px;
                margin: 10px 0;
                width: 100%;
            }
        }
    }

    .search-toggle {
        cursor: pointer;
        width: @minisearch-toggle__width;
        height: @minisearch-toggle__height;
        background: @minisearch-toggle__background-color;
        text-align: center;
        color: @minisearch-toggle__color;
        order: 1;
        margin-left: 0;
        .lib-icon-text-hide();
        .lib-icon-font(
            @_icon-font-content: @minisearch-toggle-icon__content,
            @_icon-font: @krispy-icon-font-family,
            @_icon-font-size: @minisearch-toggle-icon__font-size,
            @_icon-font-line-height: @minisearch-toggle__height,
            @_icon-font-color: @minisearch-icon__color,
            @_icon-font-color-hover: @theme__color__primary,
            @_icon-font-color-active: @theme__color__primary,
            @_icon-font-margin: 0,
            @_icon-font-vertical-align: middle,
            @_icon-font-position: before,
            @_icon-font-text-hide: true
        );

        &.active {
            &:before {
                color: @icon-font__color-active;
                content: @kri-icon-close;
                font-family: @font-awesome-pro;
                font-size: 24px;
                font-weight: 300;
                padding-top: 0;
            }
        }
    }

    .minisearch {
        input {
            border: 0;
            border: 1px solid @minisearch-border__color;
            border-radius: 60px;
            height: @minisearch-input_mobile__height;
            padding-left: 34px;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .action.search {
            width: @minisearch-button_mobile__width;

            &:before {
                line-height: @minisearch-input_mobile__height;
                margin: 0;
                font-weight: normal;
                .lib-font-size(@minisearch-icon_mobile__font-size);
                color: @minisearch-icon_mobile__color;
            }
        }
    }
}

