<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\AuthorizationLink $block */

$dataPostParam = '';
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
}
?>

<div class="authorization-link" data-block="authorization" data-label="<?php $block->escapeHtml(__('or'))?> ">
    <?php if(!$block->isLoggedIn()):?>
    <div class="actions customer-icon">
        <a <?= /* @noEscape */
            $block->getLinkAttributes() ?><?= /* @noEscape */
            $dataPostParam?>>
            <span><?= $block->escapeHtml($block->getLabel()) ?></span>
    </a>

    </div>
    <?php else: ?>
    <a href="<?= $block->escapeUrl($block->getBaseUrl())?>customer/account/index"
       class="action create"><span><?= $block->escapeHtml(__('Account'))?></span></a>
    <?php endif;?>
</div>
<?php if ($block->isLoggedIn()): ?>
    <div class="account-dropdown"
         data-role="dropdownDialog"
         data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=authorization]",
                "triggerTarget":".show-account",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":[]}}'>
        <?php echo $block->getChildHtml('customer.links.logged-in'); ?>
    </div>

<?php endif; ?>
