<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>

<a href="<?= $block->escapeUrl($block->getBaseUrl()) ?>customer/account/logout" class="action signout primary-outline"><span><?= $block->escapeHtml(__('Sign Out')) ?></span></a>
