<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Join $block */

?>

<div class="block newsletter">
    <div class="page-main">
        <h4 class="title"><?= $block ->escapeHtml(__('Sign Up to Our'))?></h4>
        <h2><?= $block ->escapeHtml(__('Newsletter'))?></h2>
        <?php if ($newsletterLegend = $block->getChildHtml('newsletter_legend')) : ?>
            <div class="legend"><?= /* @noEscape */ $newsletterLegend ?></div>
        <?php endif; ?>
    </div>
    <div class="page-main newsletter-icon">
            <form class="subscribe-form" method="post" action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>">
                <div class="control group">
                <input type="email" name="email" required="true"
                       placeholder="<?= $block->escapeHtml(__('Email Address')) ?>"
                       data-validate="require: true,'validate-email':true}"/>
                    <div  class="actions">
                        <button class="action subcribe button primary" title="<?= $block->escapeHtmlAttr(__('Sign up now')) ?>" type="submit">
                            <span> <?=$block->escapeHtml(__('Sign up now')) ?> </span>
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
