<div class="customer-component" data-bind="scope: 'customcomponent'">
    <!-- ko template: getTemplate() --> <!--/ko -->
    <script type="text/x-magento-init">
    {
        "#customer-component":{
            "Magento_Ui/js/core/app":{
                "components"{
                    "customcomponent": {
                            "component": "Magento_ThanhCustom/js/custom-component"
                        }
                    }
                }
            }
         }
    </script>
</div>
