// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Checkout Estimated Total
    //  ---------------------------------------------

    .opc-estimated-wrapper {
        &:extend(.abs-add-clearfix all);
        .lib-css(border-bottom, @border-width__base solid @color-gray80);
        margin: 0 0 15px;
        padding-bottom: 18px;
        border-bottom: 2px solid #363;
        .estimated-block {
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            .lib-css(font-weight, @font-weight__bold);
            float: left;

            .estimated-label {
                color: @color-gray-darken3;
                font-size: 14px;
                font-weight: @font-weight__bold;
                display: block;
                text-transform: uppercase;
                margin: 0 0 6.25px
            }
            .estimated-price {
                color: @color-gray-darken3;
                font-size: 36px;
                font-weight: @font-weight__heavy;
                line-height: 1.25;
            }
        }

        .minicart-wrapper {
            .action {
                &.showcart {
                    &:before {
                        .lib-css(color, @button__color);
                    }

                    &:hover:before {
                        .lib-css(color, @button__hover__color);
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ml) {
    .opc-estimated-wrapper {
       display: none;
    }
}
