// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-summary__background-color: @color-white-smoke;
@checkout-summary__padding: 22px @indent__l;

@checkout-summary-title__margin: @indent__s;
@checkout-summary-mark-value__color: @color-gray60;

@checkout-summary-items__max-height: 370px;
@checkout-summary-items__padding: 15px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Order Summary
    //  ---------------------------------------------

    .opc-block-summary {
        &:extend(.abs-add-box-sizing all);
        .lib-css(background, transparent);
        .lib-css(padding, 22px 0);
        padding-top: 0;
        margin: 0 0 5px;
        position: relative;

        > .title {
            display: block;
            margin: 0 0 2rem;
        }

        //  Totals table
        .table-totals {
            &:extend(.abs-sidebar-totals all);
        }

        .mark {
            .value {
                vertical-align: bottom;
            }
        }

        .discount.coupon {
            display: none;
        }

        .grand.incl {
            & + .grand.excl {
                .mark,
                .amount {
                    border-top: 0;
                    .lib-font-size(14);
                    padding-top: 0;

                    strong {
                        font-weight: @font-weight__regular;
                    }
                }
            }
        }

        .not-calculated {
            font-style: italic;
        }

        //
        //  Items list
        //  ---------------------------------------------

        //  Block title
        .block.items-in-cart {
            > .title {
                .lib-css(padding, 8px 0 @indent__s 0 );
                cursor: pointer;
                margin-bottom: 0;
                position: absolute;
                top: 0;
                right: 0;
                &:after {
                   content: none !important;
                }

                strong[role='heading']{
                    .lib-font-size(16);
                    font-weight: @font-weight__heavy;
                    color: @color-gray-darken3;
                    margin: 0;
                    text-transform: uppercase;
                }
            }

            &.active {
                > .title {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }

            .product {
                position: relative;
                .item-options {
                    &:extend(.abs-product-options-list all);
                    &:extend(.abs-add-clearfix all);
                }
            }
        }

        //  Cart items
        .minicart-items-wrapper {
            .lib-css(margin, 0 -(@checkout-summary-items__padding) 0 0);
            .lib-css(max-height, @checkout-summary-items__max-height);
            .lib-css(padding, @checkout-summary-items__padding @checkout-summary-items__padding 0 0);
            border: 0;
        }

        .table-totals {
            .totals{
                span {
                    font-size: 16px;
                }
                &.grand {
                    .mark,
                    .amount{
                        padding-top: 15px;
                        padding-bottom: 20px;
                        strong,
                        .price {
                            font-weight: @font-weight__heavy;
                            font-size: 18px;
                            color: @theme__color__primary;
                            text-transform: uppercase;
                        }
                    }
                }
                &.sub,
                &.shipping{
                    .mark,
                    .amount {
                        padding: 5px ;
                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .column.main & {
            .product-item {
                margin: 0;
                padding-left: 0;
            }
        }

        .product-item {
            .product-item-inner {
                margin: 0 0 @indent__s;
                width: 100%;
            }

            .product-item-name-block {
                padding-right: @indent__xs;
                text-align: left;
                .details-qty {
                    float: left;
                    margin: 0;
                    .label {
                        & > span {
                            color: @color-black;
                            font-weight: @font-weight__bold;
                            margin-right: 30px;
                        }
                        &:after {
                            content: none;
                        }
                    }
                }
                .product-item-name {
                    height: auto;
                    text-align: left;
                }
            }

            .subtotal {
                text-align: right;
                .price-excluding-tax {
                    float: right;
                    margin: 0;
                    .price {
                        color: black;
                        font-weight: @font-weight__bold;
                    }
                }
            }

            .price {
                .lib-font-size(16);
                font-weight: @font-weight__regular;
            }

            .price-including-tax {
                & + .price-excluding-tax {
                    margin: 0;
                    .price {
                        .lib-font-size(10);
                    }
                }
            }
        }

        .actions-toolbar {
            position: relative;
            z-index: 1;

            .secondary {
                border-top: @border-width__base solid @border-color__base;
                display: block;
                float: none;
                margin: -1px 0 0;
                padding: 15px 0 0;
                text-align: left;

                .action {
                    margin: 0;
                }
            }
        }

        .opc-block-summary-content {
            background: @color-white;
            border-radius: 15px;
            padding: 0 15px;
            .lib-css(box-shadow, @button__shadow);
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ml) {
    .opc-summary-wrapper {
        .modal-header {
            .action-close {
                display: none;
            }
        }

    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__ml - 1)) {
    .opc-estimated-wrapper {
        .minicart-wrapper {
            .action.showcart {
                position: relative;
                background: transparent;
                box-shadow: unset;
                border: none;
                margin-top: 26px;
                &:before {
                    color: @theme__color__secondary;
                }
                .counter.qty {
                    right: 5px;
                    top: 0;
                }
            }
        }
    }
    div.shipping-information {
        .ship-to,
        .ship-via {
            margin: 0;
            border-radius: 0 ;
            padding-top: 0;
            .shipping-information-title {
                padding-top:20px ;
                margin: 0;
                border-bottom: none;
                border-top: 2px solid @theme__color__primary;
            }
        }
    }
    .opc-block-summary {
        margin: 0;
    }
    .opc-block-shipping-information {
        padding: 0;
    }
}
