& when  (@media-common = true){
    .payment-method._active {
        background: white;
        border-radius: 25px;
        padding: 20px;
        .payment-method-title {
            border-bottom: @border-base;
            padding-left: 0;
        }

        .payment-method-content,
        .billing-address-details{
            padding: 0;
        }

        .checkout-billing-address {
            .choice {
                padding: 30px 0 15px;
                > label {
                    span {
                        margin-left: 50px;
                    }
                }
            }
        }
        .tel {
            display: block;
            margin-top: 10px;
            color: @theme__color__secondary;
            &:hover {
                color: @theme__color__primary;
            }
        }
        .actions-toolbar {
            max-width: inherit;
        }
        .name {
            font-weight: bold;
        }
    }
    .payment-methods {
        .step-title {
            border-bottom: none;
        }
    }
    .shipping-information {
        .ship-to,
        .ship-via {
            background: @color-white;
            border-radius: 25px;
            padding: 20px;
            font-size: 16px;
            .shipping-information-title {
                font-weight: @font-weight__heavy;
                font-size: 18px;
                border-bottom: 2px solid @theme__color__primary;
                .action-edit {
                    top: 54px;
                    &:before {
                        font-size: 24px;
                        content: @kri-iconpencil ;
                        font-family: 'kri';
                        color: @theme__color__secondary;
                    }
                }
            }
            .value {
                font-weight: @font-weight__bold;
            }
            a {
                color: @color-black;
                margin-top: 10px;
                display: block;
            }
        }
        .ship-to {
            padding-bottom: 0;
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__m - 1 )) {
    .payment-method._active {
        margin: 0 15px;
    }
}
