// /**
//  * Copyright © Balance Internet, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Module Related Variables
//  _____________________________________________
@font-size__m: 14px; // 14px
@checkout-progress-bar__font-size: @font-size__m;
@checkout-progress-bar__font-weight: @font-weight__bold;
@checkout-progress-bar__margin: 0;

@checkout-progress-bar-item__background-color: @color-white;
@checkout-progress-bar-item__line__background-color: @color-gray60;
@checkout-progress-bar-item__line__active__background-color: @primary__color;
@checkout-progress-bar-item__line__height: 1px;

@checkout-progress-bar-item__color: @color-white;
@checkout-progress-bar-item__text__color: @primary__color;

@checkout-progress-bar-item__width: 68px;
@checkout-progress-bar-item__active__background-color: @primary__color;
@checkout-progress-bar-item__complete__color: @color-white;

@checkout-progress-bar-item-element__height: 30px;
@checkout-progress-bar-item-element__width: 30px;

@checkout-progress-bar-item-element-inner__background-color: @page__background-color;
@checkout-progress-bar-item-element-inner__color: @primary__color;
@checkout-progress-bar-item-element-inner__height: @checkout-progress-bar-item-element-inner__width;
@checkout-progress-bar-item-element-inner__width: @checkout-progress-bar-item-element__width - @checkout-progress-bar-item__line__height;
@checkout-progress-bar-item-element-inner__active__content: @icon-check;
@checkout-progress-bar-item-element-inner__active__font-size: @font-size__m;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .opc-progress-bar {
        &-label {
            .lib-visually-hidden();
        }
    }

    .opc-progress-bar {
        .lib-list-inline();
        .lib-list-reset-styles();
        counter-reset: i;
        font-size: 0;
        margin: 0;
        position: relative;
        text-align: center;
        z-index: 1;
        padding-bottom: 20px ;

        &.one-page-checkout {
            top: -25px;
        }

        &.multi-shipping-checkout {
            margin-top: 20px;
        }
    }

    .opc-progress-bar-item {
        font-size: 14px;
        margin: 0 1em;
        position: relative;
        text-align: center;
        width: @checkout-progress-bar-item__width;

        .opc-progress-bar-link {
            background: transparent url(../images/icons/icon-progress-1.svg) center center no-repeat;
            background-size: 100%;
            display: block;
            height: 43px;
            width: @checkout-progress-bar-item__width;
        }

        .multi-shipping-checkout & {
            &:nth-child(1) {
                .opc-progress-bar-link {
                    background-image: url(../images/icons/icon-progress-1.svg);
                }

                &._active {
                    .opc-progress-bar-link {
                        background-image: url(../images/icons/icon-progress-active-1.svg);
                    }
                }
            }

            &:nth-child(2) {
                .opc-progress-bar-link {
                    background-image: url(../images/icons/icon-progress-2.svg);
                }

                &._active {
                    .opc-progress-bar-link {
                        background-image: url(../images/icons/icon-progress-active-2.svg);
                    }
                }
            }

            &:nth-child(3) {
                .opc-progress-bar-link {
                    background-image: url(../images/icons/icon-progress-3.svg);
                }

                &._active {
                    .opc-progress-bar-link {
                        background-image: url(../images/icons/icon-progress-active-3.svg);
                    }
                }
            }

            &:nth-child(4) {
                .opc-progress-bar-link {
                    background-image: url(../images/icons/icon-progress-4.svg);
                }

                &._active {
                    .opc-progress-bar-link {
                        background-image: url(../images/icons/icon-progress-active-4.svg);
                    }
                }
            }
        }

        &._active,
        &._complete {
            .opc-progress-bar-link {
                background-image: url(../images/icons/icon-progress-active-2.svg);
                cursor: pointer;
            }
        }
    }
}



.media-width(@extremum, @break) when (@extremum = 'max') and (@break = (@screen__m - 1)) {
    .opc-progress-bar {
        @abs-no-display();

        &.multi-shipping-checkout {
            display: block;
        }

        &-item {
            margin-left: 1rem;
            margin-right: 1rem;
            width: 55px;

            .opc-progress-bar-link {
                height: 35px;
                width: 55px;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__m) and (@extremum2 = 'max') and (@break2 = @screen__ml) {
    .checkout-index-index {
        .page-title-section {
            &:before,
            &:after {
                bottom: -30px;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ml) {
    .opc-progress-bar {
        &.one-page-checkout {
            top: -60px;
        }

        &.multi-shipping-checkout {
            margin-bottom: 30px;
        }
    }
}
