// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-sidebar__margin: @indent__base;
@checkout-sidebar__margin__xl: 46px;
@checkout-sidebar__columns: 4;

//
//  Desktop
//  _____________________________________________
& when (@media-common = true) {
    .opc-sidebar {
        .lib-css(margin, @checkout-sidebar__margin__xl 0 @checkout-sidebar__margin);
        .lib-layout-column(2, 2, @checkout-sidebar__columns);
        .opc-block-summary {
            .opc-block-summary-content {
                .lib-flex();
                .lib-vendor-prefix-flex-direction(column-reverse);
            }

        }

    }
    div.opc-block-shipping-information {
        padding: 0;
    }

}

