
@navigation-level0-item__padding: 18px 0;
@navigation-level0-item__font-weight:@font-weight__heavy;

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__ml )  {

    .nav-sections-item-content,
    .navigation{
        background: @color-white;
        .links-menu,
        .custom-links {
            display: none;
        }
    }
    .navigation {
        max-width: 1409px;
        border-bottom: 5px solid @theme__color__primary;
        > .ui-widget-content {
            .lib-flex;
            .lib-css(justify-content, center);
        }
        .social-menu {
            li {
                a {
                    &:first-child{
                        padding-left: 0;
                    }
                }
            }
        }
        .level0 {
            .level-top{
                padding: 0 40px;
                .lib-link();
                font-weight: @font-weight__extrabold;
                text-transform: uppercase;
                &:hover,
                &:focus,
                &:active {
                    .lib-css(text-decoration, @link__text-decoration);
                }
                .ui-menu-icon{
                    &:after {
                        content: none;
                    }
                }
            }
            .submenu {
                background: @color-white;
                border-radius: 20px;
                padding: 20px 0;
                .toggle-back{
                    display: none;
                }
                .category-item{
                    a {
                        .lib-link();
                        font-weight: 300;
                        color: #333333;
                        &:hover,
                        &:focus,
                        &:active {
                            background: @color-white;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break =( @screen__ml - 1  ))  {
    .nav-sections-item-title {
        font-weight: @font-weight__extrabold;
        text-transform: uppercase;
        font-size: 16px;

    }
    .nav-sections {
        .close-menu {
            background: @theme__color__secondary;
            width: 60px;
            height: 60px;
            position: absolute;
            right: 0;
            top: 0;
            text-align: center;
            z-index:9999999999;
            &:before {
                content: @kri-icon-close;
                font-family: @font-awesome-pro;
                font-size: 24px;
                color: @color-white;
                position: relative;
                top: 15px;
            }

        }
    }
    .navigation {
        .links-menu,
        .custom-links {
            display: block;
        }

        .custom-links {
            margin-top: 15px;
            .social-menu {
                li {
                    .kri-icon-facebook {
                        padding: 5px 3px   3px 10px;
                    }
                    .kri-icon-instagram{
                    }
                }
            }
        }
        .ui-menu-item.all-category {
            display: none;
        }
        a, a:hover {
            .lib-link()
        }
        ui-menu-item.all-category{
            display: none;
        }
        li.level0{
            border: none;
            &:first-child,
            &:last-child {
                border: none;
            }
            &.active,
            &.has-active{
                & > a:not(.ui-state-active){
                    border: none;
                    margin: auto;
                    span:not(.ui-menu-icon){
                        margin: auto;
                    }
                }
            }

        }
        ul {
            &.submenu.ui-menu {
                position: absolute;
                background: white;
                top: 70px !important;
                border: none;
                z-index: 999;
                width: 100%;
                height: 100%;
                .lib-transition();
                .toggle-back{
                    padding: 20px 0 10px;
                    z-index: 999999999;
                    color: @theme__color__primary;
                    font-weight: @font-weight__extrabold;
                    text-transform: uppercase;
                    &:before{
                        content: @kri-chevron-right;
                        margin-right: 10px;
                        font-family: @font-awesome-pro;
                        color: @theme__color__yellow;
                        display: inline-block;
                        transform: rotate(-180deg);
                    }
                }
                .level1{
                    .ui-corner-all{
                        color: black;
                        padding-left: 0;
                        font-weight: normal;
                        &:hover{
                            color: black;
                        }
                    }
                }

            }
        }
        .menu-support{
            a {
                color: @color-black;
                padding: 10px 0;
            }
        }

    }

}
