// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Responsive
//  _____________________________________________

//
//  Media variables, that can be used for splitting styles into several files
//  ---------------------------------------------

@media-common: true; // Sets whether to output common styles (true|false)
@media-target: 'all'; // Sets target device for styles output (all|desktop|mobile)


//
//  Responsive variables
//  _____________________________________________
@screen__xxxs: 320px;
@screen__xxs: 375px;
@screen__xxss: 400px;
@screen__xs: 480px;
@screen__s: 640px;
@screen__m: 768px;
@screen__ml: 980px;
@screen__l: 1024px;
@screen__xl: 1280px;
@screen__xxl: 1440px;


//
//  Media width mixin used to group styles output based on media queries
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xxs) {}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__ml) {}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__s) and (@extremum2 = 'max') and (@break2 = @screen__m) {}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__m) and (@extremum2 = 'max') and (@break2 = @screen__ml) {}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__ml) and (@extremum2 = 'max') and (@break2 = @screen__l) {}

.media-width(@extremum, @break, @extremum2, @break2) when (@extremum = 'min') and (@break = @screen__l) and (@extremum2 = 'max') and (@break2 = @screen__xxl) {}


//
//  Style groups for 'mobile' devices
//  ---------------------------------------------

& when (@media-target = 'mobile'), (@media-target = 'all') {

    @media only screen and (max-width: (@screen__l - 1)) { // 1023px
        .media-width('max', @screen__l - 1);
    }

    @media only screen and (max-width: (@screen__ml - 1)) { // 979px
        .media-width('max', @screen__ml - 1);
    }

    @media all and (min-width: (@screen__s - 1)) and (max-width: (@screen__ml - 1)){  // 639px - 979px
        .media-width('min', @screen__s, 'max', @screen__ml);
    }

    @media only screen and (max-width: (@screen__m - 1)) { // 767px
        .media-width('max', @screen__m - 1);
    }

    @media only screen and (max-width: (@screen__xxss - 1)) { // 400px
        .media-width('max', @screen__xxss - 1);
    }

    @media only screen and (max-width: (@screen__m)) { // 768px
        .media-width('max', @screen__m);
    }

    @media only screen and (max-width: (@screen__l)) { // 1024px
        .media-width('max', @screen__l);
    }

    @media only screen and (max-width: (@screen__s - 1)) { // 639px
        .media-width('max', @screen__s);
    }

    @media only screen and (max-width: (@screen__xs - 1)) { //479px
        .media-width('max', @screen__xs);
    }

    @media only screen and (max-width: (@screen__xxs - 1)) { // 319px
        .media-width('max', @screen__xxs);
    }

    @media only screen and (max-width: (@screen__xxxs - 1)) { // 319px
        .media-width('max', @screen__xxxs);
    }

    @media all and (min-width: (@screen__ml)) and (max-width: (@screen__l - 1)){
        .media-width('min', @screen__ml, 'max', @screen__l);
    }

    @media all and (min-width: (@screen__m)) and (max-width: (@screen__ml - 1)){
        .media-width('min', @screen__m, 'max', @screen__ml);
    }

    @media all and (min-width: (@screen__s - 1)) and (max-width: (@screen__m - 1)){
        .media-width('min', @screen__s, 'max', @screen__m);
    }

    @media all and (min-width: (@screen__l)) and (max-width: (@screen__xxl - 1)){
        .media-width('min', @screen__l, 'max', @screen__xxl);
    }
}

//
//  Style groups for 'desktop' devices
//  ---------------------------------------------

& when (@media-target = 'desktop'), (@media-target = 'all') {

    @media all and (min-width: @screen__s) {
        .media-width('min', @screen__s);        //640px
    }

    @media all and (min-width: @screen__m),
    print {
        .media-width('min', @screen__m);        //768px
    }

    @media all and (min-width: (@screen__m + 1)),
    print {
        .media-width('min', (@screen__m + 1));  //769px
    }

    @media all and (min-width: @screen__ml),
    print {
        .media-width('min', @screen__ml);       // 980px
    }

    @media all and (min-width: @screen__l),
    print {
        .media-width('min', @screen__l);  // 1024px
    }

    @media all and (max-width: @screen__l),
    print {
        .media-width('max', @screen__l);  // 1024px
    }

    @media all and (min-width: (@screen__l + 1)),
    print {
        .media-width('min', (@screen__l + 1));  // 1025px
    }

    @media all and (min-width: @screen__xl),
    print {
        .media-width('min', @screen__xl);       //1280px
    }

    @media all and (max-width: @screen__xl),
    print {
        .media-width('max', @screen__xl);       //1280px
    }

    @media all and (min-width: @screen__xxl),
    print {
        .media-width('min', @screen__xxl);      // 1440px
    }

}
