& when (@media-common =true) {
    legend.review-legend{
        &:extend( h2);
    }
    .block-content {
        .review-form-actions {
            .action.primary {
                position: relative;
                .lib-button-primary();
                .lib-chevron-right(
                    @_checvon-right: 15px,
                    @_checvon-top:12px,
                    @_checvron-size: 18px
                );

            }
        }
    }
}


